        .radial-book:before,
        .radial-book:after {
            content: 'Book Now';
        }
        
        .dining .radial-book:before,
        .dining .radial-book:after {
            content: 'Book Now';
        }
        .sr #masthead {
            visibility: hidden;
        }
        
        .sr #home-offers {
            visibility: hidden;
        }
        
        .sr .component.luxury-push {
            visibility: hidden;
        }
        
        .sr .component.destinations {
            visibility: hidden;
        }
        
        .sr .component.become-a-fan {
            visibility: hidden;
        }
        
        .sr .component.experiences {
            visibility: hidden;
        }
        
        .sr .component.location-overview {
            visibility: hidden;
        }
        
        .sr .component.rooms-info {
            visibility: hidden;
        }
        
        .sr .component.explore {
            visibility: hidden;
        }
        
        .sr .component.main-intro {
            visibility: hidden;
        }