
.dining .header-area .nav-section.property .right .book-your-stay a {
  width: 12.875rem;
}

.dining .header-area .property .right {
  -webkit-transform: translateX(-206px);
  -ms-transform: translateX(-206px);
  transform: translateX(-206px);
}

.dining .header-area .property .right .book-your-stay {
  -webkit-transform: translateX(206px);
  -ms-transform: translateX(206px);
  transform: translateX(206px);
}

@media screen and (max-width: 39.9375em) {
  .dining .header-area .property .right .book-your-stay {
    width: 165px;
    display: block;
  }
}

.dining .header-area .show-book .property .right {
  -webkit-transform: translateX(-206px);
  -ms-transform: translateX(-206px);
  transform: translateX(-206px);
}

.dining .radial-book:before,.dining .radial-book:after {
  content: 'Book Now';
}

@media screen and (min-width: 64em) {
  .dining .component-wrapper .component {
    padding: 1rem 0;
  }
}

@media screen and (min-width: 64em) {
  .dining .component-wrapper .component.constrained>header {
    padding-left: 7.125rem;
    padding-right: 7.125rem;
  }
}

@media screen and (max-width: 63.9375em) {
  .dining .dining-intro {
    padding-bottom: 0px;
  }
}

.dining .dining-intro .dining-intro-content {
  padding: 1.25rem 1rem 0;
}

@media screen and (min-width: 40em) {
  .dining .dining-intro .dining-intro-content {
    padding: 1.25rem 1.75rem 0;
  }
}

@media screen and (min-width: 64em) {
  .dining .dining-intro .dining-intro-content {
    padding: 0 3rem 0;
  }
}

@media screen and (min-width: 75em) {
  .dining .dining-intro .dining-intro-content {
    padding: 0 7rem 1rem;
  }
}

.dining .dining-intro header {
  display: inline-block;
}

.dining .dining-intro header h1 {
  font-size: 1.875rem;
  font-family: "Didot W01 Roman",Didot,"Hoefler Text",Garamond,"Times New Roman",serif;
}

@media screen and (min-width: 64em) {
  .dining .dining-intro header h1 {
    font-size: 3.125rem;
  }
}

.dining .dining-intro header h1 span {
  display: block;
  font-size: 1.125rem;
  font-family: "Didot W01 Italic",Didot,"Hoefler Text",Garamond,"Times New Roman",serif;
}

@media screen and (min-width: 64em) {
  .dining .dining-intro header h1 span {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 63.9375em) {
  .dining .dining-intro header {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 75em) {
  .dining .dining-intro .open-table {
    width: 80%;
    float: right;
  }

  .dining .dining-intro .open-table.fullwidth {
    width: 100%;
  }
}

.dining .dining-overview {
  font-size: .8125rem;
}

.dining .dining-overview>.row {
  padding: 1.25rem 1rem 2rem;
}

@media screen and (min-width: 40em) {
  .dining .dining-overview>.row {
    padding: 1.25rem 1.75rem 2rem;
  }
}

@media screen and (min-width: 64em) {
  .dining .dining-overview>.row {
    padding: 0 3rem 2rem;
  }
}

@media screen and (min-width: 75em) {
  .dining .dining-overview>.row {
    padding: 0 7rem 2rem;
  }
}

.dining .dining-overview>.row>.col-left {
  padding: 0 1.5rem 0 0;
}

.dining .dining-overview>.row>.col-left .info h2,.dining .dining-overview>.row>.col-left .info h2 p {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.8;
}

@media screen and (max-width: 39.9375em) {
  .dining .dining-overview>.row>.col-left .info h2,.dining .dining-overview>.row>.col-left .info h2 p {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 63.9375em) {
  .dining .dining-overview>.row>.col-left {
    padding: 0 1.75rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .dining .dining-overview>.row>.col-left {
    padding: 0 2rem;
  }
}

.dining .dining-overview>.row>.col-right {
  padding: 0 0 0 1.5rem;
}

@media screen and (max-width: 63.9375em) {
  .dining .dining-overview>.row>.col-right {
    padding: 0 1.75rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .dining .dining-overview>.row>.col-right {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 63.9375em) {
  .dining .dining-overview .page-title {
    padding: 0 1.75rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .dining .dining-overview .page-title {
    padding: 0 1rem;
  }
}

.dining .dining-overview .prop-info {
  padding: 0 0 1.5rem;
  margin: 0;
}

.dining .dining-overview .prop-info ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.dining .dining-overview .prop-info ul li {
  font-size: .9375rem;
  display: inline-block;
  width: 100%;
  font-family: "TradeGothicW01-BoldCn20_675334","ArialNarrow","Arial-Narrow","Arial Narrow",Arial,sans-serif;
  text-transform: uppercase;
  padding: 0.5rem 0;
  border-bottom: 1px solid #d8d8d8;
}

@media screen and (min-width: 64em) {
/*.dining .dining-overview .prop-info ul li{width:75%}*/;
}

.dining .dining-overview .prop-info ul li a {
  letter-spacing: .03rem;
}

.dining .dining-overview .prop-info ul li i {
  padding-right: 2rem;
  width: 20px;
}

@media screen and (min-width: 40em) {
  .dining .dining-overview .prop-info ul li i {
    color: #413838;
    padding-right: 1rem;
  }
}

.dining .dining-overview .prop-info ul li.hours i {
  font-size: 1.125rem;
}

.dining .dining-overview .prop-info ul li span {
  padding: 0 1rem;
  display: inline-block;
  min-width: 65px;
  letter-spacing: .02rem;
}

@media screen and (max-width: 39.9375em) {
  .dining .dining-overview .prop-info ul li span {
    display: none;
  }
}

.dining .dining-overview .prop-info ul li div {
  display: inline-block;
}

.dining .dining-overview .prop-info ul li div.collapse {
  display: block;
}

.dining .dining-overview .prop-info ul li .time-name,.dining .dining-overview .prop-info ul li .time {
  display: inline-block;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "TradeGothicW01-BoldCn20_675334","ArialNarrow","Arial-Narrow","Arial Narrow",Arial,sans-serif;
  font-size: 1rem;
  float: left;
}

@media screen and (max-width: 39.9375em) {
  .dining .dining-overview .prop-info ul li .time-name,.dining .dining-overview .prop-info ul li .time {
    font-size: .9rem;
  }
}

.dining .dining-overview .prop-info ul li .time-name {
  width: 45%;
}

@media screen and (max-width: 39.9375em) {
  .dining .dining-overview .prop-info ul li .time-name {
    width: 50%;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .dining .dining-overview .prop-info ul li .time-name {
    width: 35%;
  }
}

.dining .dining-overview .prop-info ul li .time-name label,.dining .dining-overview .prop-info ul li .time-name span {
  display: inline-block;
}

.dining .dining-overview .prop-info ul li .time {
  width: 55%;
}

@media screen and (max-width: 39.9375em) {
  .dining .dining-overview .prop-info ul li .time {
    width: 50%;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .dining .dining-overview .prop-info ul li .time {
    width: 65%;
  }
}

@media screen and (min-width: 64em) {
  .dining .dining-overview .prop-info ul li .time a {
    cursor: default;
    color: #312A29;
  }

  .dining .dining-overview .prop-info ul li .time a:hover,.dining .dining-overview .prop-info ul li .time a:focus {
    color: #312A29;
  }
}

.dining .dining-overview .prop-info ul li.contacts-other div.time-name:before {
  margin-right: 0;
}

.dining .dining-overview .prop-info ul li span.dl-icon {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0;
  min-width: 0;
}

@media screen and (max-width: 39.9375em) {
  .dining .dining-overview .prop-info ul li span.dl-icon {
    display: inline-block;
    padding-right: 2rem;
  }
}

.dining .dining-overview .prop-info ul li span.dl-icon svg {
  position: absolute;
  top: 6px;
  width: 16px;
  height: 16px;
}

.dining .dining-overview .prop-info ul li span.dl-icon svg path {
  fill: #413838;
}

@media screen and (min-width: 64em) {
  .dining .dining-overview .info {
    padding: 0;
  }
}

.dining .dining-overview .info .info-content h2 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Didot W01 Roman",Didot,"Hoefler Text",Garamond,"Times New Roman",serif;
  line-height: 1.6;
  letter-spacing: .02rem;
}

.dining .dining-overview .info .info-content h3 {
  font-family: "Open Sans","Arial","Helvetica",sans-serif;
  font-size: .9375rem;
  font-weight: 600;
  letter-spacing: .02rem;
  margin-bottom: .5rem;
}

.dining .dining-overview .info .info-content p {
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

.dining .dining-overview .info .announcement {
  padding-bottom: 1rem;
}

.dining .dining-overview .info .announcement,.dining .dining-overview .info .announcement p {
  font-family: "Open Sans","Arial","Helvetica",sans-serif;
  font-weight: 300;
  font-size: .75rem;
  line-height: 2;
}

.dining .dining-overview .info .announcement>span {
  font-weight: 600;
}

.dining .dining-overview .info .announcement>span svg {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.dining .dining-overview .info .announcement p {
  display: inline;
  margin-left: .25rem;
}

@media screen and (max-width: 39.9375em) {
  .dining .dining-overview .info .buttons a {
    width: 100%;
  }
}

.dining .dining-overview .info.col-left .info-content p {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Didot W01 Roman",Didot,"Hoefler Text",Garamond,"Times New Roman",serif;
  line-height: 1.6;
  letter-spacing: .02rem;
}

.dining .dining-overview .inset {
  margin-bottom: 2rem;
}

@media screen and (max-width: 63.9375em) {
  .dining .dining-overview .inset {
    margin: 0 -1.75rem 2rem;
  }
}

@media screen and (min-width: 64em) {
/*.dining .dining-overview .inset{padding-left:3rem}*/;
}

.dining .dining-overview .inset .slick-dots {
  display: none !important;
}

.dining .dining-overview .inset .slick-prev,.dining .dining-overview .inset .slick-next {
  top: auto;
  width: 60px;
  height: 60px;
  bottom: -30px;
}

.dining .dining-overview .inset .slick-prev {
  left: auto;
  right: 101px;
}

.dining .dining-overview .inset .slick-next {
  left: auto;
  right: 40px;
}

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
  .dining .dining-overview .inset {
    width: 100%;
    float: left;
  }

  .dining .dining-overview .prop-info {
    width: 100%;
    float: none;
  }
}

.dining .datepick-popup {
  z-index: 2;
}

@media screen and (max-width: 63.9375em) {
  .dining .datepick-month-header {
    padding: 1.0625rem 0;
  }
}

@media screen and (max-width: 63.9375em) {
  .dining .datepick-month th {
    border: 1px solid #999;
  }
}


.dining-interior .dining-intro {
  padding-bottom: 0;
}

@media screen and (min-width: 64em) {
  .dining-interior .dining-intro {
    padding: 0 3rem 2rem;
  }
}

@media screen and (min-width: 75em) {
  .dining-interior .dining-intro {
    padding: 0 7rem 2rem;
  }
}

.dining-interior .dining-intro h1 {
  margin-bottom: .75rem !important;
}

.dining-interior .dining-intro h1 span {
  margin-bottom: .5rem;
}

@media screen and (min-width: 64em) {
  .dining-interior .content-area-main .dining-intro-content {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.dining-interior .content-area-main header p,.dining-interior .content-area-main .dining-intro-content-copy p {
  font-family: "Didot W01 Roman",Didot,"Hoefler Text",Garamond,"Times New Roman",serif;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
  line-height: 1.6;
}

@media screen and (max-width: 39.9375em) {
  .dining-interior .content-area-main header p,.dining-interior .content-area-main .dining-intro-content-copy p {
    font-size: 1.25rem;
  }
}

.dining-interior .content-area-main header {
/*display:inline-block*/;
}

.dining-interior .content-area-main .dining-intro-content-copy {
  width: 100%;
}

.dining-interior .interior-console {
  margin-bottom: 1rem;
}

@media screen and (min-width: 75em) {
  .dining-interior .interior-console {
    width: 80%;
    float: right;
  }

  .dining-interior .interior-console.fullwidth {
    width: 100%;
  }
}

@media screen and (max-width: 63.9375em) {
  .dining-interior .interior-console {
    width: 100%;
  }
}


.dining-info {
  min-width: 0;
  padding: 0;
}

.dining-info>header {
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}

@media screen and (min-width: 64em) {
  .dining-info>header {
    padding-right: 0;
    padding-bottom: 1.75rem;
  }
}

.dining-info>header:before {
  position: absolute;
  content: '';
  display: block;
  width: 0;
  background: #c1b8b8;
  top: 40px;
  right: 0;
  bottom: calc(50% + 1px);
  left: 0;
  height: 1px;
  opacity: 0;
}

@media screen and (max-width: 63.9375em) {
  .dining-info>header:before {
    display: none;
  }
}

@media screen and (min-width: 75em) {
  .dining-info.constrained>header {
    padding: 0 7rem 0;
  }
}

@media screen and (min-width: 64em) {
  .dining-info .dining-header {
    padding: 0 3.75rem 0 0;
    width: auto;
    -webkit-flex: inherit;
    -ms-flex: inherit;
    flex: inherit;
  }

  .dining-info .dining-header h2 {
    padding-bottom: 2rem;
  }
}

.dining-info.dining-list .listing {
  transition: all .5s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  width: 100%;
  border: none;
  margin: 24px 0 0;
  padding: 0;
}

@media screen and (min-width: 64em) {
  .dining-info.dining-list .listing {
    padding-bottom: 5rem;
  }
}

.dining-info.dining-list .listing>.row {
  margin: 0;
  position: relative;
}

.dining-info.dining-list .listing .inset img {
  vertical-align: top;
}

.dining-info.dining-list .listing .intro {
  position: absolute;
  bottom: -4.5rem;
  left: 0;
  padding: 2.5rem;
  background: #fff;
  transition: all .2s ease-in-out;
}

@media screen and (min-width: 64em) {
  .dining-info.dining-list .listing .intro {
    width: 50%;
  }
}

@media screen and (min-width: 75em) {
  .dining-info.dining-list .listing .intro {
    width: 43%;
  }
}

@media screen and (min-width: 83.75em) {
  .dining-info.dining-list .listing .intro {
    width: 37%;
  }
}

@media screen and (max-width: 63.9375em) {
  .dining-info.dining-list .listing .intro {
    position: relative;
    bottom: auto;
    width: 100%;
    padding: 1rem 1.75rem;
  }
}

.dining-info.dining-list .listing .intro p {
  font-family: "Didot W01 Italic",Didot,"Hoefler Text",Garamond,"Times New Roman",serif;
  font-size: .875rem;
  line-height: 1.8;
}

.dining-info.dining-list .listing .intro .button.bordered-transparent,.dining-info.dining-list .listing .intro .button.info-button {
  padding: 12px 0;
  width: 100%;
}

.dining-info.dining-list .listing .intro a {
  font-family: "TradeGothicW01-BoldCn20_675334","ArialNarrow","Arial-Narrow","Arial Narrow",Arial,sans-serif;
  text-transform: uppercase;
}

.dining-info.dining-list .listing .intro.small-push-1 a.intro-link {
  padding: 0;
  width: auto;
  border: none;
  background: none;
}

.dining-info.dining-list .listing .intro.small-push-1 a.intro-link:hover,.dining-info.dining-list .listing .intro.small-push-1 a.intro-link:focus {
  background: none;
}

.dining-info.dining-list .listing header {
  padding: 1rem 1.75rem;
  position: relative;
  text-align: left;
}

@media screen and (max-width: 63.9375em) {
  .dining-info.dining-list .listing header {
    padding: 2rem 2rem 1rem;
    margin-top: -1.5rem;
    background: #fff;
  }
}

@media screen and (max-width: 39.9375em) {
  .dining-info.dining-list .listing header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.dining-info.dining-list .listing header .dining-type {
  font-family: "Trade Gothic W01 Cn_18","ArialNarrow","Arial-Narrow","Arial Narrow",Arial,sans-serif;
  font-size: .8125rem;
  text-transform: uppercase;
  padding-bottom: .5rem;
  letter-spacing: .02rem;
}

.dining-info.dining-list .listing header h2 {
  font-family: "Didot W01 Roman",Didot,"Hoefler Text",Garamond,"Times New Roman",serif;
  font-size: 2.1875rem;
  margin-bottom: .5rem;
  line-height: 1.3;
}

@media screen and (min-width: 64em) {
  .dining-info.dining-list .listing header h2 {
    margin-bottom: .75rem;
  }
}

.dining-info.dining-list .listing header .dining-hours {
  margin: 0;
  list-style-type: none;
}

.dining-info.dining-list .listing header .dining-hours .time,.dining-info.dining-list .listing header .dining-hours .time-name {
  display: inline-block;
  line-height: 2.1;
  text-transform: uppercase;
  font-family: "TradeGothicW01-BoldCn20_675334","ArialNarrow","Arial-Narrow","Arial Narrow",Arial,sans-serif;
  font-size: .875rem;
}

.dining-info.dining-list .listing header .dining-hours .time-name {
  width: 6rem;
  color: #312a29;
}

@media screen and (min-width: 64em) {
  .dining-info.dining-list .listing header .dining-hours .time a {
    cursor: default;
    color: #312A29;
  }

  .dining-info.dining-list .listing header .dining-hours .time a:hover,.dining-info.dining-list .listing header .dining-hours .time a:focus {
    color: #312A29;
  }
}

.dining-info.dining-list .listing header .dining-hours .time-expand,.dining-info.dining-list .listing header .dining-hours .time-expander {
  padding-left: 4rem;
}

.dining-info.dining-list .listing header .intro {
  position: relative;
  width: 100%;
  padding: 1.5rem 0;
  bottom: auto;
}

@media screen and (min-width: 40em) {
  .dining-info.dining-list .listing header .intro {
    padding: 1.5rem 0 3rem 0;
  }
}

.dining-info.dining-list .listing header .intro .buttons {
  text-align: center;
}

.dining-info.dining-list .listing header .intro .buttons a {
  width: 100%;
  padding: .75rem 1rem;
}

@media screen and (max-width: 63.9375em) {
  .dining-info.dining-list .listing header .intro .buttons a.bordered-transparent,.dining-info.dining-list .listing header .intro .buttons a.info-button {
    width: 399px;
    margin-right: 0;
  }
}

@media screen and (max-width: 39.9375em) {
  .dining-info.dining-list .listing header .intro .buttons a.bordered-transparent,.dining-info.dining-list .listing header .intro .buttons a.info-button {
    width: 100%;
  }
}

.dining-info.dining-list .listing .info {
  font-size: .9375rem;
}

@media screen and (min-width: 64em) {
  .dining-info.dining-list .listing .info {
    padding-right: 0;
    padding-left: 1rem;
  }
}

.dining-info .long-description {
  text-align: center;
  margin: 0 0 1.5rem;
}

.dining-info .long-description * {
  font-size: .8125rem;
  line-height: 2;
}

@media screen and (min-width: 64em) {
  .dining-info .long-description * {
    font-size: .875rem;
    line-height: 2.5;
  }
}

.dining-info .long-description ul {
  margin: 0;
  list-style: none;
}

.dining-info .tabs-content {
  padding: 0;
}

@media screen and (min-width: 64em) {
  .dining-info .tabs-content {
    padding: 0 3rem 0;
  }
}

@media screen and (min-width: 75em) {
  .dining-info .tabs-content {
    padding: 0 7rem 0;
  }
}

.dining-info .listing-panel {
  padding: 0 0 1.5rem;
}

.dining-info .listing-panel .inset {
  padding: 0;
}

.dining-info .listing-panel .inset-rotation {
  padding: 0;
}

.dining-info .listing-panel .inset-rotation .slick-prev,.dining-info .listing-panel .inset-rotation .slick-next {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 63.9375em) {
  .dining-info .listing-panel .inset-rotation .slick-prev,.dining-info .listing-panel .inset-rotation .slick-next {
    left: auto;
    right: 0;
  }
}

@media screen and (max-width: 63.9375em) {
  .dining-info .listing-panel .inset-rotation .slick-prev {
    right: 61px;
  }
}

.dining-info .listing-panel .inset-rotation .slick-next {
  left: 61px;
}

@media screen and (max-width: 63.9375em) {
  .dining-info .listing-panel .inset-rotation .slick-next {
    left: auto;
    right: 0;
  }
}

.dining-info .dining-filter {
  font-family: "TradeGothicW01-BoldCn20_675334","ArialNarrow","Arial-Narrow","Arial Narrow",Arial,sans-serif;
  margin-top: 1.25rem;
}

@media screen and (min-width: 64em) {
  .dining-info .dining-filter {
    text-align: left;
    margin-top: 0;
    padding: 0;
  }
}

.dining-info .dining-filter select {
  border-color: #c1b8b8;
  color: #736464;
  font-size: 1rem;
  margin: 0 !important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
/*max-width:215px;*/
  text-transform: uppercase;
  height: 48px;
}

.dining-info .dining-filter .show-me {
  color: #312a29;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 1rem;
  letter-spacing: .05rem;
}

@media screen and (min-width: 64em) {
  .dining-info .dining-filter .show-me {
    margin-bottom: 0;
  }
}

.dining-info .dining-filter ul {
  margin: 0 0 .5rem !important;
}

.dining-info .dining-filter ul li:not(:first-child):after {
  content: '';
}

.dining-info .dining-filter ul li a {
  color: #736464;
  text-decoration: none;
  padding: .25rem 1rem !important;
  letter-spacing: .05rem;
  transition: all .3s;
}

.dining-info .inset {
  position: relative;
  overflow: hidden;
}

.dining-info .open-table {
  background: #fff;
  padding: 0 1rem;
}

.dining-info .open-table form .button {
  padding: 16px 0;
  font-size: 1.25rem;
}

.dining-info .open-table form .learn-more {
  width: 100%;
  font-family: "Didot W01 Roman",Didot,"Hoefler Text",Garamond,"Times New Roman",serif;
}

.dining-info .open-table form .row {
  margin: 0;
}

.dining-info .open-table form .field .startDate {
  padding-left: 2rem;
  text-indent: 0;
}

.dining-info .open-table form select {
  background-position: right 1px center;
}

.dining-info .open-table form .field:not(.buttonfield) {
  margin-right: 0;
}

.dining-info .open-table form .datefield {
  max-width: 100%;
  width: 100%;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.dining-info .open-table form .datefield .placeholder {
  left: 32px;
  line-height: 1.8;
}

@media screen and (min-width: 64em) {
  .dining-info .open-table form .datefield .placeholder {
    left: 2.5rem;
  }
}

.dining-info .open-table form .datefield svg {
  right: auto;
  width: 16px;
}

@media screen and (max-width: 63.9375em) {
  .dining-info .open-table form .datefield svg {
    top: 1rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .dining-info .open-table form .datefield svg {
    top: .5625rem;
  }
}

.dining-info .open-table form .timefield,.dining-info .open-table form .partyfield {
  max-width: 50%;
  width: 49%;
}

@media screen and (max-width: 63.9375em) {
  .dining-info .open-table form .timefield,.dining-info .open-table form .partyfield {
    max-width: 49%;
    float: left;
  }
}

.dining-info .open-table form .timefield select,.dining-info .open-table form .partyfield select {
  padding-left: 2rem;
  text-indent: 0;
}

.dining-info .open-table form .timefield {
  margin-right: 2%;
}

.dining-info .open-table form .partyfield {
  margin-left: 2%;
}

@media screen and (max-width: 63.9375em) {
  .dining-info .open-table form .partyfield {
    float: right;
  }
}

.dining-info .open-table form .buttonfield .button {
  font-weight: 300;
}