#galleria-loader {
  height: 1px !important;
}

.media-gallery {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: collapse;
  opacity: 0;
  transition: opacity 0.3s;
}

.media-gallery.show {
  opacity: 1;
  visibility: visible;
}

.galleria {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
}

.galleria *,.galleria *:before,.galleria *:after {
  box-sizing: border-box;
}

.galleria-theme-incontext {
  position: relative;
  overflow: hidden;
  background: #000;
}

.galleria-theme-incontext img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.galleria-theme-incontext .galleria-stage {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.galleria-theme-incontext .galleria-loader {
  background: #000;
  width: 20px;
  height: 20px;
  position: absolute;
  margin-top: -10px;
  margin-left: -10px;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: none;
  background: url(../images/classic-loader.gif) no-repeat 2px 2px;
}

.galleria-theme-incontext .galleria-top-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
  display: inline-block;
  z-index: 100;
  padding: 10px 12px;
}

.galleria-theme-incontext .galleria-categories {
  float: left;
  padding: 0 10px;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  transition: opacity 400ms 100ms,visibility 400ms 200ms;
  opacity: 1;
  visibility: visible;
}

.galleria-theme-incontext .galleria-categories dt {
  width: auto;
  margin: 0;
}

.galleria-theme-incontext .galleria-categories dt a {
  position: relative;
  display: block;
  color: #1c1c1c;
  background: #fff;
  padding: 0.5rem 1.25rem 0.5rem 0.8125rem;
  width: 200px;
  font-family: "Trade Gothic W01 Cn_18","ArialNarrow","Arial-Narrow","Arial Narrow",Arial,sans-serif;
  letter-spacing: 0.1rem;
  font-size: 0.875rem;
  text-decoration: none;
  background: #fff;
}

.galleria-theme-incontext .galleria-categories dt a:after {
  content: '\f107';
  font-family: 'FontAwesome';
  color: #8e6919;
  position: absolute;
  top: 50%;
  right: 7%;
  margin-top: -0.675rem;
  font-size: 1rem;
  text-shadow: 0 -1px 0 rgba(1,1,1,0.5);
}

.galleria-theme-incontext .galleria-categories dd {
  visibility: hidden;
  position: absolute;
  top: 0px;
  left: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-top: 1px solid #a18f68;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.galleria-theme-incontext .galleria-categories dd ul {
  opacity: 0;
  margin: 0;
  padding: 8px 0;
  background: #fff;
  width: 200px;
  transition: all 250ms 50ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-border-bottom-right-radius: .3125rem;
  -webkit-border-bottom-left-radius: .3125rem;
  -moz-border-radius-bottomright: .3125rem;
  -moz-border-radius-bottomleft: .3125rem;
  border-bottom-right-radius: .3125rem;
  border-bottom-left-radius: .3125rem;
}

.galleria-theme-incontext .galleria-categories dd ul a {
  display: block;
  color: #1c1c1c;
  outline: none;
  text-align: none;
  font-family: "Trade Gothic W01 Cn_18","ArialNarrow","Arial-Narrow","Arial Narrow",Arial,sans-serif;
  letter-spacing: 0.1rem;
  font-size: 0.875rem;
  padding: .5rem 1.25rem .5rem .8125rem;
  text-decoration: none;
}

.galleria-theme-incontext .galleria-categories dd ul a:hover {
  background-color: rgba(1,1,1,0.05);
}

.galleria-theme-incontext .galleria-categories.open dt a:after {
  content: '\f106';
}

.galleria-theme-incontext .galleria-categories.open dd {
  visibility: visible;
  top: 1.875rem;
}

.galleria-theme-incontext .galleria-categories.open dd ul {
  opacity: 1;
}

.galleria-theme-incontext .galleria-buttons {
  display: inline-block;
  float: right;
}

.galleria-theme-incontext .galleria-close,.galleria-theme-incontext .galleria-home {
  float: right;
  cursor: pointer;
}

.galleria-theme-incontext .galleria-close .fa-circle,.galleria-theme-incontext .galleria-home .fa-circle {
  color: #8e6919;
}

.galleria-theme-incontext .galleria-close {
  padding-left: .25rem;
  padding-right: .75rem;
}

.galleria-theme-incontext .galleria-home {
  padding-right: .25rem;
  transition: opacity 400ms 100ms,visibility 400ms 200ms;
  opacity: 1;
  visibility: visible;
}

.galleria-theme-incontext .galleria-image-nav-left,.galleria-theme-incontext .galleria-image-nav-right {
  cursor: pointer;
  position: absolute;
  left: 0;
  z-index: 2;
  background: rgba(206,183,128,0.65);
  transition: all 150ms ease;
}

.galleria-theme-incontext .galleria-image-nav-left .fa,.galleria-theme-incontext .galleria-image-nav-right .fa {
  color: #413838;
  text-shadow: 0 0 2px #fff;
  font-size: 2.5rem;
  padding: 1.875rem .625rem;
}

.galleria-theme-incontext .galleria-image-nav-left .fa-angle-left:before,.galleria-theme-incontext .galleria-image-nav-left .fa-angle-right:before,.galleria-theme-incontext .galleria-image-nav-right .fa-angle-left:before,.galleria-theme-incontext .galleria-image-nav-right .fa-angle-right:before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2224.26%22%20viewBox%3D%220%200%2010%2024.26%22%3E%3Ctitle%3Earrow%3C%2Ftitle%3E%3Cpolygon%20points%3D%220.89%200%200%200.29%208.9%2012.13%200%2023.96%200.89%2024.26%2010%2012.14%209.97%2012.13%2010%2012.12%200.89%200%22%20fill%3D%22%23413838%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px;
}

.galleria-theme-incontext .galleria-image-nav-left .fa-angle-left:hover:before,.galleria-theme-incontext .galleria-image-nav-left .fa-angle-right:hover:before,.galleria-theme-incontext .galleria-image-nav-right .fa-angle-left:hover:before,.galleria-theme-incontext .galleria-image-nav-right .fa-angle-right:hover:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2224.26%22%20viewBox%3D%220%200%2010%2024.26%22%3E%3Ctitle%3Earrow%3C%2Ftitle%3E%3Cpolygon%20points%3D%220.89%200%200%200.29%208.9%2012.13%200%2023.96%200.89%2024.26%2010%2012.14%209.97%2012.13%2010%2012.12%200.89%200%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px;
}

.galleria-theme-incontext .galleria-image-nav-left .fa-angle-left:before,.galleria-theme-incontext .galleria-image-nav-right .fa-angle-left:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.galleria-theme-incontext .galleria-image-nav-right {
  left: auto;
  right: 0;
  -webkit-border-top-left-radius: .3125rem;
  -webkit-border-bottom-left-radius: .3125rem;
  -moz-border-radius-topleft: .3125rem;
  -moz-border-radius-bottomleft: .3125rem;
  border-top-left-radius: .3125rem;
  border-bottom-left-radius: .3125rem;
}

.galleria-theme-incontext .galleria-image-nav-left {
  -webkit-border-top-right-radius: .3125rem;
  -webkit-border-bottom-right-radius: .3125rem;
  -moz-border-radius-topright: .3125rem;
  -moz-border-radius-bottomright: .3125rem;
  border-top-right-radius: .3125rem;
  border-bottom-right-radius: .3125rem;
}

.galleria-theme-incontext .galleria-image-nav {
  position: absolute;
  top: 50%;
  margin-top: -3.125rem;
  width: 100%;
  height: 6.25rem;
  left: 0;
}

.galleria-theme-incontext .galleria-image-nav.hide-arrows .galleria-image-nav-right {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}

.galleria-theme-incontext .galleria-image-nav.hide-arrows .galleria-image-nav-left {
  -webkit-transform: translateX(-34px);
  -ms-transform: translateX(-34px);
  transform: translateX(-34px);
}

.galleria-theme-incontext .galleria-image-nav.show-arrows .galleria-image-nav-right {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.galleria-theme-incontext .galleria-image-nav.show-arrows .galleria-image-nav-left {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.galleria-theme-incontext.notouch .galleria-image-nav-left:hover,.galleria-theme-incontext.notouch .galleria-image-nav-right:hover,.galleria-theme-incontext.touch .galleria-image-nav-left:active,.galleria-theme-incontext.touch .galleria-image-nav-right:active {
  background: rgba(142,105,25,0.8);
}

.galleria-theme-incontext.notouch .galleria-image-nav-left:hover .fa,.galleria-theme-incontext.notouch .galleria-image-nav-right:hover .fa,.galleria-theme-incontext.touch .galleria-image-nav-left:active .fa,.galleria-theme-incontext.touch .galleria-image-nav-right:active .fa {
  color: #fff;
}

.galleria-theme-incontext .galleria-media-switch {
  transition: opacity 400ms 100ms,visibility 400ms 200ms;
  opacity: 1;
  visibility: visible;
}

.galleria-theme-incontext .galleria-media-switch ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.galleria-theme-incontext .galleria-media-switch li {
  float: left;
  padding: 9px 14px;
  background: #a18f68;
  color: #fff;
  font-family: "Trade Gothic W01 Cn_18","ArialNarrow","Arial-Narrow","Arial Narrow",Arial,sans-serif;
  letter-spacing: 0.05rem;
  font-size: 12px;
  text-transform: uppercase;
}

.galleria-theme-incontext .galleria-media-switch li.photos {
  background: #8e6919;
  color: #fff;
  cursor: auto;
}

.galleria-theme-incontext .galleria-media-switch li.videos {
  background: #CEB780;
  color: #312A29;
  cursor: pointer;
}

.galleria-theme-incontext .galleria-media-switch.flipped li.photos {
  background: #CEB780;
  color: #312A29;
  cursor: pointer;
}

.galleria-theme-incontext .galleria-media-switch.flipped li.videos {
  background: #8e6919;
  color: #fff;
  cursor: auto;
}

.galleria-theme-incontext .galleria-footer {
  background: transparent;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: inline-block;
  overflow: hidden;
  height: 0%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition: height .5s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out, height .5s ease-in-out;
  transition: transform .5s ease-in-out, height .5s ease-in-out, -webkit-transform .5s ease-in-out;
}

@media only screen and (min-width: 48em) and (max-width: 60em) {
  .galleria-theme-incontext .galleria-footer {
    bottom: 26px;
  }
}

@media only screen and (min-width: 48em) {
  .galleria-theme-incontext .galleria-footer {
    min-height: 5.75rem;
  }
}

@media only screen and (min-width: 64rem) {
  .galleria-theme-incontext .galleria-footer {
    min-height: 8rem;
  }
}

@media only screen and (min-width: 71.25rem) {
  .galleria-theme-incontext .galleria-footer {
    min-height: 11.25rem;
  }
}

.galleria-theme-incontext .galleria-footer.expanded {
  height: 100%;
}

@media only screen and (min-width: 64rem) {
  .galleria-theme-incontext .galleria-footer.expanded {
    height: 60%;
  }
}

.galleria-theme-incontext .galleria-footer-expand-collapse {
  display: none;
}

@media only screen and (min-width: 60.063em) {
  .galleria-theme-incontext .galleria-footer-expand-collapse {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: rgba(142,105,25,0.9);
    font-size: 1.25rem;
    transition: all 0.3s 0.2s ease-out;
  }
}

.galleria-theme-incontext .galleria-footer.collapsed {
  -webkit-transform: translateY(180px);
  -ms-transform: translateY(180px);
  transform: translateY(180px);
  overflow: visible;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.galleria-theme-incontext .galleria-footer.collapsed .galleria-footer-expand-collapse {
  -webkit-transform: translateY(-100px) rotate(180deg);
  -ms-transform: translateY(-100px) rotate(180deg);
  transform: translateY(-100px) rotate(180deg);
  transition: all 0.3s ease-out;
}

.galleria-theme-incontext .galleria-incontext-outer-wrapper {
  background: rgba(0,0,0,0.8);
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  float: left;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,0.5);
}

.galleria-theme-incontext .galleria-incontext-outer-wrapper:before,.galleria-theme-incontext .galleria-incontext-outer-wrapper:after {
  content: " ";
  display: table;
}

.galleria-theme-incontext .galleria-thumbnails-container {
  display: inline-block;
  width: 50%;
  position: relative;
  float: left;
  transition: all 100ms ease;
}

@media only screen and (max-width: 47.938em) {
  .galleria-theme-incontext .galleria-thumbnails-container {
    opacity: 0;
    position: absolute;
    top: -100px;
    border-bottom: 1px solid #C8BDA5;
  }
}

@media only screen and (min-width: 48em) {
  .galleria-theme-incontext .galleria-thumbnails-container {
    opacity: 1;
    position: relative;
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid #C8BDA5;
  }
}

@media only screen and (min-width: 64rem) {
  .galleria-theme-incontext .galleria-thumbnails-container {
    border-bottom: none;
    padding: 10px 30px;
    margin: 10px 0;
    width: 40%;
    float: left;
    border-right: 1px solid #C8BDA5;
  }
}

@media only screen and (min-width: 71.25rem) {
  .galleria-theme-incontext .galleria-thumbnails-container {
    width: 50%;
    padding: 10px 30px;
  }
}

.galleria-theme-incontext .galleria-thumbnails-container.no-info {
  width: 100% !important;
}

.galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-left,.galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-right {
  color: #046884;
  position: absolute;
  top: 1.5rem;
  font-size: 28px;
  cursor: pointer;
}

@media only screen and (min-width: 64rem) {
  .galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-left,.galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-right {
    top: 20px;
  }
}

@media only screen and (min-width: 71.25rem) {
  .galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-left,.galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-right {
    top: 50px;
  }
}

.galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-left.disabled,.galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-right.disabled {
  color: rgba(65,56,56,0.4);
}

.galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-right {
  right: 1.875rem;
}

@media only screen and (min-width: 64rem) {
  .galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-right {
    right: 1.25rem;
  }
}

@media only screen and (min-width: 71.25rem) {
  .galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-right {
    right: 1.875rem;
  }
}

.galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-right .fa-angle-right:before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2224.26%22%20viewBox%3D%220%200%2010%2024.26%22%3E%3Ctitle%3Earrow%3C%2Ftitle%3E%3Cpolygon%20points%3D%220.89%200%200%200.29%208.9%2012.13%200%2023.96%200.89%2024.26%2010%2012.14%209.97%2012.13%2010%2012.12%200.89%200%22%20fill%3D%22%23ceb780%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px;
}

.galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-left {
  left: 1.875rem;
}

@media only screen and (min-width: 64rem) {
  .galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-left {
    left: 1.25rem;
  }
}

@media only screen and (min-width: 71.25rem) {
  .galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-left {
    left: 1.875rem;
  }
}

.galleria-theme-incontext .galleria-thumbnails-container .galleria-thumb-nav-left .fa-angle-left:before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2224.26%22%20viewBox%3D%220%200%2010%2024.26%22%3E%3Ctitle%3Earrow%3C%2Ftitle%3E%3Cpolygon%20points%3D%220.89%200%200%200.29%208.9%2012.13%200%2023.96%200.89%2024.26%2010%2012.14%209.97%2012.13%2010%2012.12%200.89%200%22%20fill%3D%22%23ceb780%22%2F%3E%3C%2Fsvg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px;
}

.galleria-theme-incontext .galleria-thumbnails-container .galleria-thumbnails-list {
  transition: all 100ms ease;
  margin-left: 4.375rem;
  margin-right: 4.375rem;
}

@media only screen and (min-width: 64rem) {
  .galleria-theme-incontext .galleria-thumbnails-container .galleria-thumbnails-list {
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }
}

@media only screen and (min-width: 71.25rem) {
  .galleria-theme-incontext .galleria-thumbnails-container .galleria-thumbnails-list {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

.galleria-theme-incontext .galleria-thumbnails-container .galleria-thumbnails-list .galleria-image {
  height: 3.75rem !important;
  width: 6.25rem !important;
  background: #000;
  margin: 0 5px 0 0;
  float: left;
  cursor: pointer;
}

.galleria-theme-incontext .galleria-thumbnails-container .galleria-thumbnails-list .galleria-image img {
  width: 100% !important;
  height: auto !important;
}

@media only screen and (min-width: 71.25rem) {
  .galleria-theme-incontext .galleria-thumbnails-container .galleria-thumbnails-list .galleria-image {
    height: 7.5rem !important;
    width: 12.5rem !important;
  }
}

.galleria-theme-incontext .galleria-description-wrapper {
  width: 100%;
  float: left;
  display: inline-block;
  color: white;
  transition: all 100ms ease;
}

@media only screen and (max-width: 47.938em) and (orientation: landscape) {
  .galleria-theme-incontext .galleria-description-wrapper {
    width: 50%;
  }
}

@media only screen and (min-width: 48em) {
  .galleria-theme-incontext .galleria-description-wrapper {
    width: 40%;
  }
}

@media only screen and (min-width: 60.063em) {
  .galleria-theme-incontext .galleria-description-wrapper {
    width: 33.3333333%;
  }
}

.galleria-theme-incontext .galleria-description-wrapper h3>span {
  display: none;
  margin-left: 10px;
  font-size: 13px;
  opacity: 0.7;
  font-style: italic;
}

.galleria-theme-incontext .galleria-description-wrapper .disclaimer {
  margin-top: 20px;
  font-size: 11px;
  opacity: 0.4;
}

.galleria-theme-incontext .galleria-rate-outer-wrapper {
  display: none;
  float: left;
  width: 33.333333333%;
  transition: all 100ms ease;
}

@media only screen and (min-width: 48em) {
  .galleria-theme-incontext .galleria-rate-outer-wrapper {
    width: 30%;
    display: inline-block;
  }
}

@media only screen and (min-width: 60.063em) {
  .galleria-theme-incontext .galleria-rate-outer-wrapper {
    width: 33.333333333%;
  }
}

.galleria-theme-incontext .galleria-rate-wrapper {
  position: relative;
  width: auto;
  display: inline-block;
  margin: 0 auto;
}

.galleria-theme-incontext .galleria-rate-wrapper h2 {
  margin: 0;
  padding: 10px;
  font-size: 42px;
  font-weight: normal;
}

.galleria-theme-incontext .galleria-rate-wrapper .galleria-rate sup {
  font-size: 18px;
  padding-left: 5px;
}

.galleria-theme-incontext .galleria-rate-wrapper .galleria-per-night,.galleria-theme-incontext .galleria-rate-wrapper .galleria-rates-from {
  font-size: 12px;
  font-style: italic;
  position: absolute;
  color: #a18f68;
}

.galleria-theme-incontext .galleria-rate-wrapper .galleria-rates-from {
  left: 15px;
}

.galleria-theme-incontext .galleria-rate-wrapper .galleria-per-night {
  bottom: 18px;
  right: 26px;
}

.galleria-theme-incontext .galleria-cta-wrapper {
  padding-top: 20px;
  float: right;
  width: 100%;
}

@media only screen and (max-width: 47.938em) and (orientation: landscape) {
  .galleria-theme-incontext .galleria-cta-wrapper {
    width: 50%;
    padding: 0;
  }
}

@media only screen and (min-width: 48em) {
  .galleria-theme-incontext .galleria-cta-wrapper {
    width: 30%;
    padding: 0;
  }
}

@media only screen and (min-width: 60.063em) {
  .galleria-theme-incontext .galleria-cta-wrapper {
    width: 33.3333333%;
  }
}

.galleria-theme-incontext .galleria-cta-button {
  position: relative;
  width: 100%;
  padding: 1.125rem 14% 1.125rem 0;
  border: 1px solid #045c74;
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.15);
  color: #fff;
  background: #046883;
  display: inline-block;
  font-size: .875rem;
  font-weight: normal;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 rgba(1,1,1,0.5);
}

.galleria-theme-incontext .galleria-cta-button .fa {
  position: absolute;
  top: 50%;
  right: 7%;
  margin-top: -.6875rem;
  font-size: 1.25rem;
  text-shadow: 0 -1px 0 rgba(1,1,1,0.5);
}

.galleria-theme-incontext .galleria-cta-button:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 100ms ease;
  opacity: .15;
  background: linear-gradient(to bottom, #fff 0%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.galleria-theme-incontext .galleria-cta-button:hover:before {
  opacity: 0;
  transition: all 100ms ease;
}

.galleria-theme-incontext .galleria-incontext-info {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  float: left;
  padding: 1.25rem;
  transition: all 100ms ease;
}

@media only screen and (min-width: 48em) {
  .galleria-theme-incontext .galleria-incontext-info {
    margin-top: .625rem;
    padding: .625rem 2rem 1.25rem;
  }
}

@media only screen and (min-width: 64rem) {
  .galleria-theme-incontext .galleria-incontext-info {
    margin-top: .625rem;
    padding: .875rem 1.875rem 0;
    width: 60%;
    float: left;
  }
}

@media only screen and (min-width: 71.25rem) {
  .galleria-theme-incontext .galleria-incontext-info {
    width: 50%;
  }
}

.galleria-theme-incontext .galleria-incontext-info.galleria-cols-1>div {
  width: 100%;
}

@media only screen and (min-width: 64rem) {
  .galleria-theme-incontext .galleria-incontext-info.galleria-cols-2 .galleria-description-wrapper {
    width: 65%;
  }

  .galleria-theme-incontext .galleria-incontext-info.galleria-cols-2 .galleria-rate-outer-wrapper,.galleria-theme-incontext .galleria-incontext-info.galleria-cols-2 .galleria-cta-wrapper {
    width: 35%;
  }
}

.galleria-theme-incontext .galleria-incontext-info h3,.galleria-theme-incontext .galleria-incontext-info h6 {
  font-weight: normal;
}

.galleria-theme-incontext .galleria-incontext-info h3 {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

@media only screen and (max-width: 47.938em) and (orientation: landscape) {
  .galleria-theme-incontext .galleria-incontext-info h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 48em) {
  .galleria-theme-incontext .galleria-incontext-info h3 {
    font-size: 1.75rem;
  }
}

.galleria-theme-incontext .galleria-incontext-info h6 {
  font-size: .625rem;
  margin: 0;
  padding: 0 0 .25rem;
  font-style: italic;
  display: none;
}

@media only screen and (max-width: 47.938em) and (orientation: landscape) {
  .galleria-theme-incontext .galleria-incontext-info h6 {
    display: inline-block;
    font-size: .6875rem;
  }
}

@media only screen and (min-width: 48em) {
  .galleria-theme-incontext .galleria-incontext-info h6 {
    display: inline-block;
    font-size: .6875rem;
  }
}

.galleria-theme-incontext .galleria-share {
  position: fixed;
  right: 50%;
  bottom: 8.25rem;
  padding: .9375rem;
  display: inline-block;
  z-index: 95;
  margin-right: -5.125rem;
  background-color: rgba(255,255,255,0.75);
  -webkit-border-top-right-radius: .625rem;
  -webkit-border-top-left-radius: .625rem;
  -moz-border-radius-topright: .625rem;
  -moz-border-radius-topleft: .625rem;
  border-top-right-radius: .625rem;
  border-top-left-radius: .625rem;
}

@media only screen and (max-width: 47.938em) {
  .galleria-theme-incontext .galleria-share {
    bottom: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: -webkit-transform 1000ms 100ms ease-in-out;
    transition: transform 1000ms 100ms ease-in-out;
    transition: transform 1000ms 100ms ease-in-out, -webkit-transform 1000ms 100ms ease-in-out;
  }
}

@media only screen and (max-width: 47.938em) and (orientation: landscape) {
  .galleria-theme-incontext .galleria-share {
    padding: .9375rem .9375rem .625rem;
  }
}

@media only screen and (min-width: 48em) {
  .galleria-theme-incontext .galleria-share {
    transition: -webkit-transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out;
    transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out;
    opacity: 1;
    visibility: visible;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 105;
    background-color: transparent;
    border-radius: 0;
  }
}

.galleria-theme-incontext .galleria-share span {
  display: none;
  float: left;
  font-size: 11px;
  text-transform: uppercase;
  padding: .375rem .625rem 0 0;
  color: #fff;
}

@media only screen and (min-width: 48em) {
  .galleria-theme-incontext .galleria-share span {
    display: inline-block;
  }
}

.galleria-theme-incontext .galleria-share ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}

.galleria-theme-incontext .galleria-share ul li {
  float: left;
  display: inline-block;
  padding: 0 4px;
}

.galleria-theme-incontext .galleria-share a {
  color: #fff;
  background-color: #a18f68;
  padding: 4px 0;
  display: block;
  text-align: center;
  width: 2.25rem;
  border-radius: 100%;
  font-size: 18px;
}

@media only screen and (min-width: 48em) {
  .galleria-theme-incontext .galleria-share a {
    color: #fff;
    width: auto;
    padding: 0 4px;
    background-color: transparent;
    font: normal normal normal 14px/1;
  }
}

.galleria-theme-incontext .galleria-share .download-image {
  display: none;
}

@media only screen and (min-width: 60.063em) {
  .galleria-theme-incontext .galleria-share .download-image {
    display: inline-block;
    margin: 0 10px 0 20px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .galleria-theme-incontext .galleria-share .download-image i {
    margin-right: 5px;
  }
}

.galleria-theme-incontext .galleria-incontext-content-wrapper {
  width: 100%;
  height: auto;
  padding: 1.25rem;
  float: left;
  clear: both;
  display: inline-block;
  overflow-y: auto;
  position: relative;
}

.galleria-theme-incontext .galleria-utility {
  display: none;
  float: left;
  width: 100%;
  background: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  max-height: 1.75rem;
  z-index: 100;
}

.galleria-theme-incontext .galleria-utility p {
  font-family: "TradeGothicW01-BoldCn20_675334","ArialNarrow","Arial-Narrow","Arial Narrow",Arial,sans-serif;
  font-size: .75rem;
  margin: 0;
  padding: .3125rem 1.125rem;
  display: inline-block;
  float: left;
}

@media only screen and (min-width: 852px) {
  .galleria-theme-incontext .galleria-utility {
    display: inline-block;
  }
}

.galleria-theme-incontext.hide-gallery .galleria-media-switch,.galleria-theme-incontext.hide-gallery .galleria-categories,.galleria-theme-incontext.hide-gallery .galleria-home,.galleria-theme-incontext.hide-gallery .galleria-share {
  opacity: 0;
  visibility: hidden;
}

.galleria-theme-incontext.hide-gallery .galleria-thumbnails-container {
  border: none;
}

@media only screen and (max-width: 47.938em) {
  .galleria-theme-incontext.hide-gallery .galleria-share {
    -webkit-transform: translateY(16rem) !important;
    -ms-transform: translateY(16rem) !important;
    transform: translateY(16rem) !important;
    transition: -webkit-transform 100ms ease-in-out !important;
    transition: transform 100ms ease-in-out !important;
    transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out !important;
  }
}

@media only screen and (max-width: 47.938em) and (orientation: landscape) {
  .galleria-theme-incontext.hide-gallery .galleria-share {
    -webkit-transform: translateY(10rem) !important;
    -ms-transform: translateY(10rem) !important;
    transform: translateY(10rem) !important;
  }
}

.galleria-theme-incontext.hide-gallery .galleria-footer {
  -webkit-transform: translateY(100%) !important;
  -ms-transform: translateY(100%) !important;
  transform: translateY(100%) !important;
  transition: -webkit-transform 300ms ease-in-out !important;
  transition: transform 300ms ease-in-out !important;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out !important;
}

.galleria-theme-incontext.hide-gallery .galleria-stage {
  -webkit-transform: transformX(-100%) !important;
  -ms-transform: transformX(-100%) !important;
  transform: transformX(-100%) !important;
}

.galleria-tiles-wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0.6s,visibility 0s 0.9s;
}

.galleria-tiles-wrapper.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s 0s,visibility 0s 0s;
}

.galleria-tiles {
  position: absolute;
  left: 50%;
  top: 50vh;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media only screen and (min-width: 48em) {
  .galleria-tiles {
    max-width: 720px;
  }
}

.galleria-tiles li {
  width: 48%;
  float: left;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translateY(100vh);
  -ms-transform: translateY(100vh);
  transform: translateY(100vh);
  text-align: center;
  margin: 0 1% 1rem;
  background-size: cover;
  background-color: #a18f68;
  background-position: center center;
}

.is-visible .galleria-tiles li {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.fade-in .galleria-tiles li {
  -webkit-animation: category-move-in 0.5s;
  animation: category-move-in 0.5s;
}

.fade-out .galleria-tiles li {
  -webkit-animation: category-move-out 0.5s;
  animation: category-move-out 0.5s;
}

.fade-in .galleria-tiles li,.fade-out .galleria-tiles li {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fade-in .galleria-tiles li:nth-of-type(2),.fade-out .galleria-tiles li:nth-of-type(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fade-in .galleria-tiles li:nth-of-type(3),.fade-out .galleria-tiles li:nth-of-type(3) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
}

.fade-in .galleria-tiles li:nth-of-type(4),.fade-out .galleria-tiles li:nth-of-type(4) {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.fade-in .galleria-tiles li:nth-of-type(5),.fade-out .galleria-tiles li:nth-of-type(5) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fade-in .galleria-tiles li:nth-of-type(6),.fade-out .galleria-tiles li:nth-of-type(6) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fade-in .galleria-tiles li:nth-of-type(5),.fade-out .galleria-tiles li:nth-of-type(5) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
}

.fade-in .galleria-tiles li:nth-of-type(6),.fade-out .galleria-tiles li:nth-of-type(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@media only screen and (min-width: 48em) {
  .galleria-tiles li {
    width: 48%;
    float: left;
  }

  .fade-in .galleria-tiles li:nth-of-type(1),.fade-out .galleria-tiles li:nth-of-type(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  .fade-in .galleria-tiles li:nth-of-type(2),.fade-out .galleria-tiles li:nth-of-type(2) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }

  .fade-in .galleria-tiles li:nth-of-type(4),.fade-out .galleria-tiles li:nth-of-type(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .fade-in .galleria-tiles li:nth-of-type(5),.fade-out .galleria-tiles li:nth-of-type(5) {
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
  }
}

.galleria-tiles a {
  display: inline-block;
  min-width: 80px;
  position: relative;
  padding: 120px 0 0;
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.galleria-tiles a span {
  display: inline-block;
  font-family: "TradeGothicW01-BoldCn20_675334","ArialNarrow","Arial-Narrow","Arial Narrow",Arial,sans-serif;
  letter-spacing: 0.05rem;
  width: 100%;
  padding: 10px;
  background: rgba(0,0,0,0.7);
}

@-webkit-keyframes category-move-in {
  0% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }

  65% {
    -webkit-transform: translateY(-1.5vh);
    transform: translateY(-1.5vh);
  }

  100% {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh);
  }
}

@keyframes category-move-in {
  0% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
  }

  65% {
    -webkit-transform: translateY(-1.5vh);
    transform: translateY(-1.5vh);
  }

  100% {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh);
  }
}

@-webkit-keyframes category-move-out {
  0% {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh);
  }

  100% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
  }
}

@keyframes category-move-out {
  0% {
    -webkit-transform: translateY(0vh);
    transform: translateY(0vh);
  }

  100% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh);
  }
}

.onepager .galleria-theme-incontext .galleria-media-switch,.onepager .galleria-theme-incontext .galleria-categories {
  opacity: 0;
}

.onepager .galleria-theme-incontext .galleria-incontext-info {
  display: none;
}

.onepager .galleria-theme-incontext .galleria-thumbnails-container {
  width: 100%;
  border-right: none;
}
