﻿        /* saturate if diff is not greater than 0 */
        /* darken if diff is greater than 0 */
        /* final output value */
        /* desaturate if diff is greater than 0 */
        /* darken if diff is greater than 0 */
        /* final output value */
        /* desaturate if diff is greater than 0 */
        /* else lighten */
        /* final output value */
        /* desaturate if diff is greater than 0 */
        /* darken if diff is greater than 0 */
        /* final output value */
        a {
            color: #75252a;
        }

            a:hover {
                color: #9d9d9d;
            }

        html:not(.touch) body:not(.brand) .slick-prev:hover,
        html:not(.touch) body:not(.brand) .slick-next:hover,
        html:not(.touch) body:not(.brand) .slick-prev:focus,
        html:not(.touch) body:not(.brand) .slick-next:focus {
            background-color: #75252a;
        }
        .fan-social:before {
            background-image: url("/images/hanoi.jpg?wid=2880&hei=1548&fmt=jpeg&qlt=45,0&op_sharpen=0&resMode=sharp2&op_usm=.8,.8,4,0&iccEmbed=0&printRes=72");
        }

        .fan-social p a {
            color: #75252a;
        }

            .fan-social p a:hover {
                color: #9d9d9d;
            }

        .fan-social .twitter-block h1 {
            color: #75252a;
        }

        .fan-social .twitter-block p:after {
            color: #75252a;
        }

        .radial,
        .form-buttons input[type='submit'] {
            background: #75252a;
            background-image: radial-gradient(circle, #75252a, #794346);
        }

            .radial:hover,
            .form-buttons input[type='submit']:hover,
            .radial:focus,
            .form-buttons input[type='submit']:focus {
                background-position: 0;
                color: #FFFFFF;
                background-image: radial-gradient(circle, #794346, #75252a);
            }

        .form-buttons button[type='submit']:before,
        .form-buttons button[type='submit']:after {
            background: #75252a;
        }

        .form-buttons button[type='submit']:before {
            background-image: radial-gradient(circle, #75252a, #794346);
        }

        .form-buttons button[type='submit']:after {
            background-image: radial-gradient(circle, #794346, #75252a);
        }

        .radial-book {
            background-color: #75252a;
        }

            .radial-book:before,
            .radial-book:after {
                background: #75252a;
            }

            .radial-book:before {
                background-image: radial-gradient(circle, #75252a, #794346);
            }

            .radial-book:after {
                background-image: radial-gradient(circle, #794346, #75252a);
            }

        .signature .radial-book {
            background: #75252a;
            background-image: radial-gradient(circle, #75252a, #75252a);
        }

            .signature .radial-book:hover,
            .signature .radial-book:focus {
                background-position: 0;
                color: #FFFFFF;
                background-image: radial-gradient(circle, #75252a, #75252a);
            }

            .signature .radial-book:before,
            .signature .radial-book:after {
                background: #75252a;
            }

            .signature .radial-book:before {
                background-image: radial-gradient(circle, #75252a, #75252a);
            }

            .signature .radial-book:after {
                background-image: radial-gradient(circle, #75252a, #75252a);
            }

        .signature .direct-book {
            background: #75252a;
            background-image: radial-gradient(circle, #75252a, #75252a);
        }

            .signature .direct-book:hover,
            .signature .direct-book:focus {
                background-position: 0;
                color: #FFFFFF;
                background-image: radial-gradient(circle, #75252a, #75252a);
            }

            .signature .direct-book:before,
            .signature .direct-book:after {
                background: #75252a;
            }

            .signature .direct-book:before {
                background-image: radial-gradient(circle, #75252a, #75252a);
            }

            .signature .direct-book:after {
                background-image: radial-gradient(circle, #75252a, #75252a);
            }

        .bordered-transparent,
        .bordered-transparent:hover {
            color: #75252a !important;
        }

        @media screen and (min-width: 1200px) {
            .bordered-transparent:hover,
            .bordered-transparent:focus {
                color: #FFFFFF !important;
                border: 1px solid #75252a;
                background-color: #75252a;
            }
        }

        .bordered-white {
            color: #75252a !important;
        }

            .bordered-white:hover,
            .bordered-white:focus {
                background-color: #75252a;
            }

        .learn-more,
        .datepick-ctrl .button {
            background: #75252a;
        }

            .learn-more:hover,
            .datepick-ctrl .button:hover,
            .learn-more:focus,
            .datepick-ctrl .button:focus {
                background-color: #75252a;
            }

            .learn-more[disabled] {
                background: #75252a;
            }

        .buttons .info-button {
            background: #75252a;
        }

            .buttons .info-button:hover,
            .buttons .info-button:focus {
                background-color: #75252a;
            }

        .transparent-btn {
            color: #75252a !important;
        }

            .transparent-btn:hover,
            .transparent-btn:focus {
                color: #FFFFFF !important;
                border: 1px solid #75252a;
                background-color: #75252a;
            }

        .purple-btn {
            background: #75252a;
        }

            .purple-btn:hover,
            .purple-btn:focus {
                background-color: #75252a;
            }

        .purple-gradient-btn {
            background: #75252a;
            /* For browsers that do not support gradients */
            background: -webkit-radial-gradient(circle, #b10073 0%, #75252a 30%, #75252a 95%);
            /* Safari 5.1 to 6.0 */
            background: -o-radial-gradient(circle, #b10073 0%, #75252a 30%, #75252a 95%);
            /* For Opera 11.6 to 12.0 */
            background: -moz-radial-gradient(circle, #b10073 0%, #75252a 30%, #75252a 95%);
            /* For Firefox 3.6 to 15 */
            background: radial-gradient(circle, #b10073 0%, #75252a 30%, #75252a 95%);
            /* Standard syntax */
        }

            .purple-gradient-btn:hover,
            .purple-gradient-btn:focus {
                background: #75252a;
            }

        .cbe-calendar table tbody tr td a:not(.unavail).datepick-selected,
        .cbe-calendar table tbody tr td a:not(.unavail):hover,
        .cbe-calendar table tbody tr td a:not(.unavail):focus {
            background-color: #EEC33F;
            color: #FFFFFF;
        }

        .cbe-calendar table tbody tr td a.unavail:hover,
        .cbe-calendar table tbody tr td a.unavail:focus {
            background-color: #767676;
            color: #FFFFFF;
        }

        .cbe-calendar .calendar-legend li.selected:before {
            background: #EEC33F;
        }

        .listing-availability-form .console fieldset .special-code a {
            color: #75252a;
        }

        .listing-availability-form .console .dropdown svg path {
            fill: #75252a;
        }

        .listing-availability-form .check-rate-button {
            border: 1px solid #75252a;
        }

            .listing-availability-form .check-rate-button:hover,
            .listing-availability-form .check-rate-button:focus {
                background: #75252a;
                border: 1px solid #75252a;
            }

        .listing-availability-form .best-rate span {
            color: #75252a;
        }

        .listing-availability-form .best-rate .circle-check-mark .icons {
            fill: #75252a;
        }

        .listing-availability-form.split .console .best-rate span {
            color: #75252a;
        }

            .listing-availability-form.split .console .best-rate span:before {
                background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2219px%22%20height%3D%2218px%22%20viewBox%3D%220%200%2019%2018%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C!--%20Generator%3A%20Sketch%2040.1%20(33804)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Ctitle%3Eicon-best%3C%2Ftitle%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Styles%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Icons%22%20transform%3D%22translate(-541.000000%2C%20-451.000000)%22%20fill%3D%22%2375252a%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22icon-best%22%20transform%3D%22translate(519.000000%2C%20430.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M37.6348816%2C30.5832052%20C37.6348816%2C34.5613657%2034.396801%2C37.7976007%2030.4186404%2C37.7976007%20C26.4395571%2C37.7976007%2023.2023993%2C34.5613657%2023.2023993%2C30.5832052%20C23.2023993%2C26.603199%2026.4395571%2C23.3651184%2030.4186404%2C23.3651184%20C32.3242079%2C23.3651184%2034.0544448%2C24.1135035%2035.3454322%2C25.3251307%20L30.1445709%2C31.3112888%20L26.2780683%2C27.4429406%20L24.9889265%2C30.0212242%20L28.9966164%2C34.5050754%20L29.9314057%2C35.6733313%20L30.9049523%2C34.5438327%20L36.7222393%2C27.0784374%20C37.3017533%2C28.1175023%2037.6348816%2C29.3115964%2037.6348816%2C30.5832052%20L37.6348816%2C30.5832052%20Z%20M40.4558597%2C22.2872962%20L39.1030452%2C21%20L36.1334974%2C24.4180252%20C34.6302676%2C23.023685%2032.6250384%2C22.163642%2030.4186404%2C22.163642%20C25.7779145%2C22.163642%2022%2C25.9387881%2022%2C30.5832052%20C22%2C35.2248539%2025.7779145%2C39%2030.4186404%2C39%20C35.0602891%2C39%2038.8372808%2C35.2248539%2038.8372808%2C30.5832052%20C38.8372808%2C28.9203322%2038.346355%2C27.3728084%2037.5112273%2C26.0652107%20L40.4558597%2C22.2872962%20Z%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fsvg%3E');
            }

        .booking-console .console .arrive-field input:hover,
        .booking-console .console .depart-field input:hover {
            color: #75252a;
        }

        .booking-console .console .arrive-field:hover .placeholder,
        .booking-console .console .depart-field:hover .placeholder,
        .booking-console .console .arrive-field.active .placeholder,
        .booking-console .console .depart-field.active .placeholder {
            color: #75252a;
        }

        .booking-console .console .arrive-field:hover svg g,
        .booking-console .console .depart-field:hover svg g,
        .booking-console .console .arrive-field.active svg g,
        .booking-console .console .depart-field.active svg g {
            fill: #75252a;
        }

        .booking-console .best-rate > a {
            color: #794346;
        }

        .booking-console .best-rate .circle-check-mark .icons {
            fill: #794346;
        }

        .datepick-month td a:not(.unavail).datepick-selected,
        .datepick-month td a:not(.unavail).datepick-weekend:hover,
        .datepick-month td a:not(.unavail):hover,
        .datepick-month td a:not(.unavail):focus {
            background-color: #EEC33F;
            color: #FFFFFF;
        }

        .datepick-month td a.unavail:hover,
        .datepick-month td a.unavail:focus {
            background-color: #767676;
            color: #FFFFFF;
        }

        .datepick-month td a .first-date:before {
            background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2011%2014%22%20width%3D%22100%25%22%20preserveAspectRatio%3D%22none%22%20fill%3D%22%2375252a%22%3E%3Cpath%20d%3D%22M0%200v14l11-7z%22%2F%3E%3Cpath%20d%3D%22M-8-5h24v24H-8z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E') no-repeat, none;
        }

        .datepick-month td a .last-date:after {
            background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2011%2014%22%20width%3D%22100%25%22%20preserveAspectRatio%3D%22none%22%20fill%3D%22%2375252a%22%3E%3Cpath%20d%3D%22M11%200v14L0%207z%22%2F%3E%3Cpath%20d%3D%22M-8-5h24v24H-8z%22%20fill%3D%22none%22%2F%3E%3C%2Fsvg%3E') no-repeat, none;
        }

        .booking-modal-console .console .calendar-legend {
            /*
			.selected:before {
				background: @adjusted-property-inner;
			}
			*/
        }

            .booking-modal-console .console .calendar-legend .datepick-selected {
                background: #EEC33F;
            }

        .booking-modal-console .button {
            background-color: #794346;
        }

            .booking-modal-console .button .arrow {
                background-color: rgba(93, 62, 94, 0.005);
            }

            .booking-modal-console .button:hover {
                background-color: #75252a;
            }

        .cbe-calendar .datepick .datepick-month td a:not(.unavail).datepick-selected,
        .cbe-calendar .datepick .datepick-month td a:not(.unavail):hover {
            background-color: #EEC33F;
            color: #FFFFFF;
        }

        .cbe-calendar .datepick .datepick-month td a.unavail:hover,
        .cbe-calendar .datepick .datepick-month td a.unavail:focus {
            background-color: #767676;
            color: #FFFFFF;
        }

        .cbe-calendar .datepick .datepick-month td a .first-date:before {
            background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2011%2014%22%20width%3D%22100%25%22%20preserveAspectRatio%3D%22none%22%20fill%3D%22%2375252a%22%3E%3Cpath%20d%3D%22M0%200v14l11-7z%22/%3E%3Cpath%20d%3D%22M-8-5h24v24H-8z%22%20fill%3D%22none%22/%3E%3C/svg%3E') no-repeat, none;
            background-size: 100% 100% !important;
        }

        .cbe-calendar .datepick .datepick-month td a .last-date:after {
            background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2011%2014%22%20width%3D%22100%25%22%20preserveAspectRatio%3D%22none%22%20fill%3D%22%2375252a%22%3E%3Cpath%20d%3D%22M11%200v14L0%207z%22/%3E%3Cpath%20d%3D%22M-8-5h24v24H-8z%22%20fill%3D%22none%22/%3E%3C/svg%3E') no-repeat, none;
            background-size: 100% 100% !important;
        }

        [dir="rtl"] .cbe-calendar .datepick .datepick-month td a .first-date:before {
            background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2011%2014%22%20width%3D%22100%25%22%20preserveAspectRatio%3D%22none%22%20fill%3D%22%2375252a%22%3E%3Cpath%20d%3D%22M11%200v14L0%207z%22/%3E%3Cpath%20d%3D%22M-8-5h24v24H-8z%22%20fill%3D%22none%22/%3E%3C/svg%3E') no-repeat, none;
        }

        [dir="rtl"] .cbe-calendar .datepick .datepick-month td a .last-date:after {
            background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2011%2014%22%20width%3D%22100%25%22%20preserveAspectRatio%3D%22none%22%20fill%3D%22%2375252a%22%3E%3Cpath%20d%3D%22M0%200v14l11-7z%22/%3E%3Cpath%20d%3D%22M-8-5h24v24H-8z%22%20fill%3D%22none%22/%3E%3C/svg%3E') no-repeat, none;
        }

        .content-area-main > article > .events-push h3 > span {
            color: #75252a;
        }

        .content-area-main > article > .events-push .row .columns > a {
            color: #75252a;
        }

            .content-area-main > article > .events-push .row .columns > a:hover {
                color: #9d9d9d;
            }

        .footer {
            border-top: 5px solid #75252a;
        }

        @media screen and (min-width: 1024px) {
            .footer p a:hover {
                color: inherit;
            }
        }

        .content-area-main > article > .landing-rooms-info .book-now {
            background-color: #75252a;
        }

            .content-area-main > article > .landing-rooms-info .book-now:hover,
            .content-area-main > article > .landing-rooms-info .book-now:focus {
                background-color: #75252a;
            }

        html:not(.touch) .content-area-main > article > .rooms-info .tabs-content .swiper-button-prev:hover,
        html:not(.touch) .content-area-main > article > .rooms-info .tabs-content .swiper-button-next:hover,
        html:not(.touch) .content-area-main > article > .rooms-info .tabs-content .swiper-button-prev:focus,
        html:not(.touch) .content-area-main > article > .rooms-info .tabs-content .swiper-button-next:focus {
            background-color: #75252a;
        }

        .top-bar .top-drop {
            border-top: 4px solid #75252a;
        }

        .content-area-main > article > .events-push h3 > span {
            color: #75252a;
        }

        .content-area-main > article > .events-push .row .columns > a {
            color: #75252a;
        }

            .content-area-main > article > .events-push .row .columns > a:hover {
                color: #9d9d9d;
            }

        .content-area-main > article > .property-explore .row .columns > a {
            color: #75252a;
        }

            .content-area-main > article > .property-explore .row .columns > a:hover {
                color: #9d9d9d;
            }

        .content-area-main > article > .property-listings .prop-listing .listing-row .info .buttons .info-button {
            background: #75252a;
            border: 1px solid #75252a;
        }

        @media screen and (min-width: 1200px) {
            .content-area-main > article > .property-listings .prop-listing .listing-row .info .buttons .info-button:hover,
            .content-area-main > article > .property-listings .prop-listing .listing-row .info .buttons .info-button:focus {
                background: #75252a;
                border: 1px solid #75252a;
            }
        }

        .content-area-main > article > .property-listings .spa-form form .learn-more {
            border: 1px solid #75252a;
        }

            .content-area-main > article > .property-listings .spa-form form .learn-more:hover {
                border: 1px solid #75252a;
            }

        html:not(.touch) .content-area-main > article > .property-listings .swiper-button-prev:hover,
        html:not(.touch) .content-area-main > article > .property-listings .swiper-button-next:hover {
            background-color: #75252a;
        }

        body:not(.brand) .content-area-main > article > .property-overview .prop-info ul li a {
            color: #75252a;
        }

            body:not(.brand) .content-area-main > article > .property-overview .prop-info ul li a:hover,
            body:not(.brand) .content-area-main > article > .property-overview .prop-info ul li a:focus {
                color: #9d9d9d;
            }

        @media screen and (max-width: 639px) {
            body:not(.brand) .content-area-main > article > .property-overview .prop-info ul li i {
                color: #75252a;
            }
        }

        @media screen and (max-width: 639px) {
            body:not(.brand) .content-area-main > article > .property-overview .prop-info ul li span.dl-icon svg path {
                fill: #75252a;
            }
        }

        body:not(.brand) .content-area-main > article > .property-overview .info .announcement > span {
            color: #75252a;
        }

            body:not(.brand) .content-area-main > article > .property-overview .info .announcement > span svg path {
                fill: #75252a;
            }

        .content-area-main > .featured-room-offer-info > .featured-room-offer .row .columns > a {
            color: #75252a;
        }

            .content-area-main > .featured-room-offer-info > .featured-room-offer .row .columns > a:hover {
                color: #9d9d9d;
            }

        .content-area-main > .featured-room-offer-info > .featured-room-offer .row .info .buttons .book-now {
            background-color: #75252a;
        }

            .content-area-main > .featured-room-offer-info > .featured-room-offer .row .info .buttons .book-now:hover {
                background-color: #75252a;
            }

        .content-area-main > .featured-room-offer-info > .featured-room-offer .row .inset .rates-from {
            background: #75252a;
        }

        .content-area-main > article > .featured-rooms-offers .info .inner header h1 {
            color: #75252a;
        }

        .content-area-main > article > .featured-rooms-offers .info .inner .buttons .expand-room-offer {
            color: #75252a;
        }

            .content-area-main > article > .featured-rooms-offers .info .inner .buttons .expand-room-offer:hover {
                background-color: #75252a;
                color: #FFFFFF;
            }

        .content-area-main > article > .featured-rooms-offers .info .inner .buttons .book-now {
            background-color: #75252a;
        }

            .content-area-main > article > .featured-rooms-offers .info .inner .buttons .book-now:hover {
                background-color: #75252a;
            }

        .content-area-main > article > .featured-rooms-offers .long-description .embedded .console fieldset .special-code {
            color: #75252a;
        }

        .content-area-main > article > .featured-rooms-offers .long-description .embedded .date-field.active .placeholder {
            color: #75252a;
        }

        .property-rooms-offers .room-filter ul li a.is-active {
            color: #75252a;
        }

        .property-rooms-offers .room-filter ul li a:hover,
        .property-rooms-offers .room-filter ul li a:focus {
            color: #75252a;
        }

        @media screen and (min-width: 1024px) {
            .property-rooms .content-area-main > .featured-room-offer-info > .featured-room .row .inset .gallery-trigger:hover {
                background-color: #75252a;
            }
        }

        @media screen and (min-width: 1024px) {
            .property-rooms .content-area-main > article > .featured-rooms .inset .slick-prev:hover,
            .property-rooms .content-area-main > article > .featured-rooms .inset .slick-next:hover {
                background-color: #75252a;
            }

            .property-rooms .content-area-main > article > .featured-rooms .inset .slick-prev:focus,
            .property-rooms .content-area-main > article > .featured-rooms .inset .slick-next:focus {
                border: 1px solid #75252a;
            }
        }

        .content-area-main > article > .property-rotation .rotation-listing .rotation-row .info .buttons a:hover,
        .content-area-main > article > .property-rotation .rotation-listing .rotation-row .info .buttons a:focus {
            color: #FFFFFF;
            background-color: #75252a;
            border-color: #75252a;
        }

        html:not(.touch) .content-area-main > article > .property-listings .swiper-button-prev:hover,
        html:not(.touch) .content-area-main > article > .property-listings .swiper-button-next:hover {
            background-color: #75252a;
        }

        .content-area-main > article > .property-tabbed .tab-filter .tabs .tabs-title a:hover,
        .content-area-main > article > .property-tabbed .tab-filter .tabs .tabs-title a:focus {
            color: #75252a;
        }

        .content-area-main > article > .property-tabbed .tab-filter .tabs .tabs-title.is-active a {
            color: #75252a;
        }

        .content-area-main > article > .property-tabbed .tab-filter .menu__line {
            background: #75252a;
        }

        .content-area-main > article > .property-tabbed .buttons .info-button {
            background: #75252a;
            border: 1px solid #75252a;
        }

            .content-area-main > article > .property-tabbed .buttons .info-button:hover {
                background: #75252a;
                border-color: #75252a;
            }

        html:not(.touch) .content-area-main > article > .property-tabbed .tabs-content .swiper-button-prev:hover,
        html:not(.touch) .content-area-main > article > .property-tabbed .tabs-content .swiper-button-next:hover {
            background-color: #75252a;
        }

        .content-area-main > article > section.property-table .table-content table td a {
            color: #75252a;
        }

            .content-area-main > article > section.property-table .table-content table td a:hover {
                color: #9d9d9d;
            }

                .content-area-main > article > section.property-table .table-content table td a:hover .st0 {
                    fill: #9d9d9d;
                }

            .content-area-main > article > section.property-table .table-content table td a .st0 {
                fill: #75252a;
            }

        .content-area-main > article > .property-content .tertiary-nav ul {
            border-left: 3px solid #75252a;
        }

            .content-area-main > article > .property-content .tertiary-nav ul li:hover:before,
            .content-area-main > article > .property-content .tertiary-nav ul li:focus:before {
                color: #75252a;
            }

            .content-area-main > article > .property-content .tertiary-nav ul li a:not(.button):not(.info-button):hover {
                color: #75252a;
            }

        @media screen and (max-width: 639px) {
            .content-area-main > article > .property-content .prop-info ul li i {
                color: #75252a;
            }
        }

        @media screen and (max-width: 639px) {
            .content-area-main > article > .property-content .prop-info ul li span.dl-icon svg path {
                fill: #75252a;
            }
        }

        .header-area .property > .left > li.is-active:after {
            border-color: transparent transparent #75252a transparent;
        }

        .header-area .property .top-drop {
            border-top: 4px solid #75252a;
        }

            .header-area .property .top-drop .subnav li > a.active,
            .header-area .property .top-drop .subnav li > a:hover {
                color: #75252a;
            }

            .header-area .property .top-drop .menu-push a:hover {
                color: #75252a;
            }

        .content-area-main > article > .explore h3 {
            color: #75252a;
        }

            .content-area-main > article > .explore h3 a:focus,
            .content-area-main > article > .explore h3 a:visited {
                color: #75252a;
            }

            .content-area-main > article > .explore h3 a:hover {
                color: #9d9d9d;
            }

        .content-area-main > article > .explore h4 > span {
            color: #75252a;
        }

        .content-area-main > article > .explore .row .columns > a {
            color: #75252a;
        }

            .content-area-main > article > .explore .row .columns > a:hover {
                color: #9d9d9d;
            }

        .content-area-main > article > .location-overview table tbody tr td a {
            color: #75252a;
        }

        @media screen and (min-width: 1024px) {
            .content-area-main > article > .location-overview table tbody tr td a:hover {
                color: #9d9d9d !important;
            }
        }

        @media screen and (max-width: 75em) {
            .content-area-main > article > .location-overview table tbody tr td i {
                color: #75252a;
            }
        }

        .content-area-main > article > .location-overview .info .announcement > span {
            color: #75252a;
        }

            .content-area-main > article > .location-overview .info .announcement > span svg path {
                fill: #75252a;
            }

        #masthead #masthead-push {
            background-color: #75252a;
        }

            #masthead #masthead-push .slick-prev:hover:before,
            #masthead #masthead-push .slick-next:hover:before {
                background-color: #5d3e5e;
            }

        #masthead-popup table tbody tr td a {
            color: #75252a;
        }

            #masthead-popup table tbody tr td a:hover {
                color: #9d9d9d !important;
            }

        .content-area-main > article > .push-console .expanding-push .push-item .rollover .opentable select,
        .content-area-main > article > .push-console .expanding-push .push-item .rollover .opentable input {
            color: #75252a;
        }

            .content-area-main > article > .push-console .expanding-push .push-item .rollover .opentable select::-webkit-input-placeholder,
            .content-area-main > article > .push-console .expanding-push .push-item .rollover .opentable input::-webkit-input-placeholder {
                color: #75252a;
            }

            .content-area-main > article > .push-console .expanding-push .push-item .rollover .opentable select:-moz-placeholder,
            .content-area-main > article > .push-console .expanding-push .push-item .rollover .opentable input:-moz-placeholder {
                color: #75252a;
                opacity: 1;
            }

            .content-area-main > article > .push-console .expanding-push .push-item .rollover .opentable select::-moz-placeholder,
            .content-area-main > article > .push-console .expanding-push .push-item .rollover .opentable input::-moz-placeholder {
                color: #75252a;
                opacity: 1;
            }

            .content-area-main > article > .push-console .expanding-push .push-item .rollover .opentable select:-ms-input-placeholder,
            .content-area-main > article > .push-console .expanding-push .push-item .rollover .opentable input:-ms-input-placeholder {
                color: #75252a;
            }

        .content-area-main > article > .push-console .expanding-push .push-item .rollover .opentable .datefield .placeholder {
            color: #75252a;
        }

        @media screen and (max-width: 23.5em) {
            .content-area-main > article > .rooms-info .buttons .expand-room:hover {
                color: #75252a !important;
            }
        }

        @media screen and (max-width: 31.25em) and (min-width: 23.5em) {
            .content-area-main > article > .rooms-info .buttons .expand-room:hover {
                color: #75252a !important;
            }
        }

        .content-area-main > article > .rooms-info .buttons .book-now {
            background-color: #75252a;
        }

            .content-area-main > article > .rooms-info .buttons .book-now:hover {
                background-color: #75252a;
            }

        .content-area-main > article > .rooms-info .tabs-content .swiper-button-prev:after {
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2210%22%20height%3D%2224.26%22%20viewBox%3D%220%200%2010%2024.26%22%3E%3Ctitle%3Earrow%3C%2Ftitle%3E%3Cpolygon%20points%3D%220.89%200%200%200.29%208.9%2012.13%200%2023.96%200.89%2024.26%2010%2012.14%209.97%2012.13%2010%2012.12%200.89%200%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 11px;
        }

        .content-area-main > article > .rooms-info .tabs-content .slick-dots .slick-active button:after {
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Ctitle%3Edot-marker-color%3C%2Ftitle%3E%3Ccircle%20cx%3D%228%22%20cy%3D%228%22%20r%3D%227.5%22%20fill%3D%22%2375252a%22%2F%3E%3Cpath%20d%3D%22M8%2C1A7%2C7%2C0%2C1%2C1%2C1%2C8%2C7%2C7%2C0%2C0%2C1%2C8%2C1M8%2C0a8%2C8%2C0%2C1%2C0%2C8%2C8A8%2C8%2C0%2C0%2C0%2C8%2C0Z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
        }

        .content-area-main > article > .rooms-info .rooms-filter ul li a:hover {
            color: #75252a;
        }

        .content-area-main > article > .rooms-info .rooms-filter ul li.is-active a {
            color: #75252a;
        }

        .content-area-main > article > .rooms-info .inset .rates-from {
            background: #75252a;
        }

        .content-area-main .property-reviews .header a:hover,
        .content-area-main .property-reviews .header a:focus {
            color: #75252a;
        }

        .dining .dining-overview .prop-info ul li a:hover,
        .dining .dining-overview .prop-info ul li a:focus {
            color: #75252a;
        }

        .dining .become-a-fan .inset .info a:hover,
        .dining .become-a-fan .inset .info a:focus {
            color: #75252a;
        }

        .content-area-main .dining-info .dining-filter ul li a.is-active {
            color: #75252a;
        }

        .content-area-main .dining-info .dining-filter ul li a:hover,
        .content-area-main .dining-info .dining-filter ul li a:focus {
            color: #75252a;
        }

        .content-area-main .dining-info.dining-list .listing .intro.small-push-1 a.intro-link:hover,
        .content-area-main .dining-info.dining-list .listing .intro.small-push-1 a.intro-link:focus {
            color: #75252a !important;
        }

        .content-area-main .dining-info.dining-list .listing header .dining-hours .time a:hover,
        .content-area-main .dining-info.dining-list .listing header .dining-hours .time a:focus {
            color: #75252a;
        }

        .content-area-main > article > .dining-push-console .expanding-push .push-item .rollover .opentable select:not(.submit):not(.date-picker),
        .content-area-main > article > .dining-push-console .expanding-push .push-item .rollover .opentable input:not(.submit):not(.date-picker) {
            color: #75252a;
        }

        .content-area-main > article > .dining-push-console .expanding-push .push-item .rollover .opentable .datefield .placeholder {
            color: #75252a;
        }

        .content-area-main > article > .dining-info.dining-list .listing header .dining-hours ul li.phone a {
            color: #75252a;
        }

        .content-area-main > article > .dining-info .open-table .placeholder,
        .content-area-main > article > .dining-info .open-table select {
            color: #75252a;
        }

        html:not(.touch) .content-area-main > article > .rooms-info .tabs-content .swiper-button-prev:hover,
        html:not(.touch) .content-area-main > article > .rooms-info .tabs-content .swiper-button-next:hover {
            background-color: #75252a;
        }

        .events .events-bar .category-list a.active,
        .events .events-bar .category-list a:hover,
        .events .events-bar .category-list a:focus {
            color: #75252a !important;
        }

        .events .events-months a.active {
            background: #75252a;
        }

        .events .months-arrow {
            color: #75252a;
        }

            .events .months-arrow:hover,
            .events .months-arrow:focus {
                color: #75252a;
            }

            .events .months-arrow.slick-disabled:hover,
            .events .months-arrow.slick-disabled:focus {
                color: #75252a;
            }

        .events .event-category.row .button {
            background-color: #75252a;
        }

            .events .event-category.row .button:hover {
                background-color: #75252a;
            }

        .events .event-details .event-description .long-description .button {
            background-color: #75252a;
        }

            .events .event-details .event-description .long-description .button:hover {
                background-color: #75252a;
            }

        .signature .header-area .cd-secondary-nav.menu-active {
            background: #75252a;
        }

        .signature .header-area .menu-toggle.active {
            background: #75252a;
        }

        @media screen and (min-width: 1340px) {
            .signature .header-area .property {
                background: #75252a;
            }
        }

        @media screen and (min-width: 1340px) {
            .signature .header-area .cd-auto-hide-header.no-console .property {
                background: #75252a;
            }
        }

        @media screen and (min-width: 1340px) {
            .signature .header-area .cd-auto-hide-header .property {
                background: #75252a;
            }
        }

        @media screen and (min-width: 1340px) {
            .signature .header-area .cd-auto-hide-header.nav-is-hidden .property {
                background: #242021;
            }
        }

        .signature .header-area .cd-auto-hide-header.nav-is-hidden .property .left li:hover:before,
        .signature .header-area .cd-auto-hide-header.nav-is-hidden .property .left li:focus:before {
            border-color: #75252a;
        }

        .signature .datepick-month td a.datepick-selected,
        .signature .datepick-month td a:hover,
        .signature .datepick-month td a:focus {
            background: #EEC33F;
        }

        .signature .button:hover,
        .signature .button:focus {
            background-color: #75252a;
        }

        @media screen and (max-width: 1339px) {
            .signature .top-bar .vertical.menu.main > .active > a {
                background-color: transparent;
                color: #CEB780;
            }
        }

        .signature-title .inner:before {
            border-color: #75252a;
        }

        .content-area-main .signature-overview .info .announcement > span svg path {
            fill: #75252a;
        }

        .content-area-main .signature-overview .signature-dining-info .sig-info {
            color: #75252a;
        }

        .content-area-main .signature-overview .buttons .learn-more {
            background: #75252a;
        }

            .content-area-main .signature-overview .buttons .learn-more:hover,
            .content-area-main .signature-overview .buttons .learn-more:focus {
                background: #75252a;
            }

        .content-area-main .signature-overview .signature-opentable-widget {
            border-color: #75252a;
        }

            .content-area-main .signature-overview .signature-opentable-widget .sig-ot-title {
                color: #75252a;
            }

            .content-area-main .signature-overview .signature-opentable-widget .open-table .datefield .placeholder {
                color: #75252a;
            }

            .content-area-main .signature-overview .signature-opentable-widget .open-table .datefield .field-label > svg path {
                fill: #75252a;
            }

            .content-area-main .signature-overview .signature-opentable-widget .open-table .timefield .fa,
            .content-area-main .signature-overview .signature-opentable-widget .open-table .partyfield .fa {
                color: #75252a;
            }

            .content-area-main .signature-overview .signature-opentable-widget .open-table fieldset .field select {
                color: #75252a;
                background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%228%22%20viewBox%3D%220%200%2024.338%2013.029%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%2375252a%22%20d%3D%22M12.61%2012.397L23.79%201.01c.11-.11.014-.293-.104-.41-.117-.117-.39-.123-.5-.013L12.1%2011.702%201%20.578C.893.468.71.474.593.592c-.118.117-.123.3-.014.41l11.36%2011.387s.286.308.672.007z%22%2F%3E%3C%2Fsvg%3E');
            }

            .content-area-main .signature-overview .signature-opentable-widget .open-table .buttonfield.field input {
                background: #75252a;
                background: -webkit-linear-gradient(left, #75252a, #75252a, #75252a);
                background: -o-linear-gradient(left, #75252a, #75252a, #75252a);
                background: -moz-linear-gradient(left, #75252a, #75252a, #75252a);
                background: linear-gradient(to right, #75252a, #75252a, #75252a);
            }

        .signature-gallery-panel .sig-image .gallery-btn .leftbox {
            background: #75252a;
        }

            .signature-gallery-panel .sig-image .gallery-btn .leftbox:hover,
            .signature-gallery-panel .sig-image .gallery-btn .leftbox:focus {
                background: #75252a;
            }

        .signature-gallery-panel .sig-image .gallery-btn .rightbox .gallery-link {
            background: #75252a;
        }

        .swiper-button-prev,
        .swiper-button-next {
            background: #75252a;
        }

            .swiper-button-prev:hover,
            .swiper-button-next:hover,
            .swiper-button-prev:focus,
            .swiper-button-next:focus {
                background: #75252a;
            }

        .content-area-main .menus-list ul li .menu-item .rollover h2 {
            color: #75252a;
        }

        .content-area-main .menus-list .buttons .info-button {
            background: #75252a;
        }

            .content-area-main .menus-list .buttons .info-button:hover,
            .content-area-main .menus-list .buttons .info-button:focus {
                background: #75252a;
            }

        .content-area-main .signature-push .push-count .slick-dots li.slick-active button {
            color: #75252a;
        }

        .content-area-main .signature-push .push-count .slick-arrow {
            background: #75252a;
        }

            .content-area-main .signature-push .push-count .slick-arrow:focus,
            .content-area-main .signature-push .push-count .slick-arrow:hover {
                background: #75252a;
            }

        .content-area-main .signature-push .buttons > a {
            background: #75252a;
        }

            .content-area-main .signature-push .buttons > a:hover,
            .content-area-main .signature-push .buttons > a:focus {
                background: #75252a;
            }

        .content-area-main .signature-push .border-continuous div,
        .content-area-main .signature-push .border-custom-continuous div {
            background: #75252a;
        }

        .content-area-main .signature-push .learn-more {
            background: #75252a;
        }

        .signature .content-area-main .property-reviews .main-review-quote:before,
        .signature .content-area-main .property-reviews .main-review-quote:after {
            color: #75252a;
        }

        .signature .content-area-main .property-reviews .main-review-quote h1 {
            color: #75252a;
        }

        .signature .content-area-main .property-reviews .review-statement .quote-title {
            color: #75252a;
        }

        .classic .content-area-main .slick-prev,
        .eastern .content-area-main .slick-prev,
        .contemporary .content-area-main .slick-prev,
        .classic .content-area-main .slick-next,
        .eastern .content-area-main .slick-next,
        .contemporary .content-area-main .slick-next {
            background: #75252a;
        }

        .pdf-downloads li a:before {
            background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2216px%22%20height%3D%2215px%22%20viewBox%3D%220%200%2016%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Desktop%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%2203b-room-detail%22%20transform%3D%22translate(-892.000000%2C%20-960.000000)%22%20fill%3D%22%2375252a%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22flyout%22%20transform%3D%22translate(321.000000%2C%20564.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22tab-details%22%20transform%3D%22translate(569.000000%2C%20195.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22download-link%22%20transform%3D%22translate(2.000000%2C%20200.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8.5219368%2C13%20L4.24460105%2C8.59755524%20C4.09002046%2C8.43770569%204%2C8.20827457%204%2C7.98260461%20C4%2C7.76633756%204.09002046%2C7.54724965%204.24460105%2C7.36765397%20C4.59558991%2C7.02726845%205.12752898%2C7.02726845%205.43669016%2C7.36765397%20L7.45078427%2C9.45228021%20L7.45078427%2C1%20L9.5703569%2C1%20L9.5703569%2C9.45228021%20L11.5589907%2C7.39116126%20C11.8927029%2C7.04983545%2012.4237327%2C7.04983545%2012.7483519%2C7.39116126%20C13.0838827%2C7.73436765%2013.0838827%2C8.28349788%2012.7483519%2C8.6248237%20L8.5219368%2C13%20Z%20M14.9819834%2C16%20L0.997240708%2C16%20C0.450143375%2C16%200%2C15.5080954%200%2C14.8958011%20L0%2C3.0900907%20C0%2C2.48720188%200.450143375%2C2%200.997240708%2C2%20L4.22875074%2C2%20C4.78710166%2C2%205.23984202%2C2.48720188%205.23984202%2C3.0900907%20C5.23984202%2C3.70050386%204.78710166%2C4.18864629%204.22875074%2C4.18864629%20L2.00919764%2C4.18864629%20L2.00919764%2C13.8122943%20L13.9665639%2C13.8122943%20L13.9665639%2C4.18864629%20L11.7513391%2C4.18864629%20C11.1843315%2C4.18864629%2010.7350538%2C3.70050386%2010.7350538%2C3.0900907%20C10.7350538%2C2.48720188%2011.1843315%2C2%2011.7513391%2C2%20L14.9819834%2C2%20C15.5481253%2C2%2016%2C2.48720188%2016%2C3.0900907%20L16%2C14.8958011%20C16%2C15.5080954%2015.5481253%2C16%2014.9819834%2C16%20Z%22%20id%3D%22Combined-Shape%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
        }
  