﻿.title-bar-title .logo2 img {
    width:50px;
}
.title-bar-title .logo2 {
    margin-top:8px;
}
.hotel-Services {max-width:100%;}
.inset.hotel-Services .slick-prev{
    border-right: 1px solid rgba(255,255,255,0.2); left:0px;right:auto; top:0;}
.inset.hotel-Services .slick-next {
    left: 60px; right:auto; top:0;
}
.large-order-2 .location-overview .inset.hotel-Services .slick-prev{right:60px;left:auto; top:0;}
.large-order-2 .location-overview .inset.hotel-Services .slick-next {
    border-left: 1px solid rgba(255,255,255,0.2);
    right: 0; top:0;left:auto;
}
.pdf-downloads li a:before {
  background-image: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2216px%22%20height%3D%2215px%22%20viewBox%3D%220%200%2016%2015%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Desktop%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%2203b-room-detail%22%20transform%3D%22translate(-892.000000%2C%20-960.000000)%22%20fill%3D%22%23CB333B%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22flyout%22%20transform%3D%22translate(321.000000%2C%20564.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22tab-details%22%20transform%3D%22translate(569.000000%2C%20195.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22download-link%22%20transform%3D%22translate(2.000000%2C%20200.000000)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8.5219368%2C13%20L4.24460105%2C8.59755524%20C4.09002046%2C8.43770569%204%2C8.20827457%204%2C7.98260461%20C4%2C7.76633756%204.09002046%2C7.54724965%204.24460105%2C7.36765397%20C4.59558991%2C7.02726845%205.12752898%2C7.02726845%205.43669016%2C7.36765397%20L7.45078427%2C9.45228021%20L7.45078427%2C1%20L9.5703569%2C1%20L9.5703569%2C9.45228021%20L11.5589907%2C7.39116126%20C11.8927029%2C7.04983545%2012.4237327%2C7.04983545%2012.7483519%2C7.39116126%20C13.0838827%2C7.73436765%2013.0838827%2C8.28349788%2012.7483519%2C8.6248237%20L8.5219368%2C13%20Z%20M14.9819834%2C16%20L0.997240708%2C16%20C0.450143375%2C16%200%2C15.5080954%200%2C14.8958011%20L0%2C3.0900907%20C0%2C2.48720188%200.450143375%2C2%200.997240708%2C2%20L4.22875074%2C2%20C4.78710166%2C2%205.23984202%2C2.48720188%205.23984202%2C3.0900907%20C5.23984202%2C3.70050386%204.78710166%2C4.18864629%204.22875074%2C4.18864629%20L2.00919764%2C4.18864629%20L2.00919764%2C13.8122943%20L13.9665639%2C13.8122943%20L13.9665639%2C4.18864629%20L11.7513391%2C4.18864629%20C11.1843315%2C4.18864629%2010.7350538%2C3.70050386%2010.7350538%2C3.0900907%20C10.7350538%2C2.48720188%2011.1843315%2C2%2011.7513391%2C2%20L14.9819834%2C2%20C15.5481253%2C2%2016%2C2.48720188%2016%2C3.0900907%20L16%2C14.8958011%20C16%2C15.5080954%2015.5481253%2C16%2014.9819834%2C16%20Z%22%20id%3D%22Combined-Shape%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}
.header-area .property .top-drop .subnav li > a.active, .header-area .property .top-drop .subnav li > a:hover {
    color: #CB333B;
}
picture img {width:100%;}
span.star3 {
    background: url("../images/star3.png") no-repeat scroll 0 0 transparent;
    width: 66px;
    height: 16px;
    display: inline-block!important;
}
span.star35 {
    background: url("../images/star35.png") no-repeat scroll 0 0 transparent;
    width: 66px;
    height: 16px;
    display: inline-block!important;
}
span.star {
    background: url("../images/star.png") no-repeat scroll 0 0 transparent;
    width: 66px;
    height: 16px;
    display: inline-block!important;
}
/*.brand .booking-console .property-console-form .console .fieldset-wrapper .fieldset .field {float:left; margin-right:20px;}
.brand .booking-console .console {width:auto;}
.brand .booking-console .console .arrive-field svg {left:52px;}
.brand .booking-console .console .fieldset {padding:0; border:0;width:auto;}
.brand .booking-console .console .fieldset-wrapper {padding:0; float:left; width:auto;}
.brand .booking-console .property-console-form .console .fieldset-wrapper .fieldset .field.dropdowns select{width:110px;}
.brand .booking-console .property-console-form .console .fieldset-wrapper .fieldset .field.date-field .overflow input{width:165px;}
.brand .property-console-form .property-console-calendar {bottom:0; right:0; left:0;}
.brand .header-area .cd-secondary-nav .title-bar .title-bar-title a 
    {
    margin-top:22px;
}
.brand .header-area .cd-secondary-nav.scrolled .title-bar .title-bar-title a
{
    margin-top:8px;
}
.brand .header-area .cd-secondary-nav .menu-toggle.active{padding-top:33px;padding-bottom:28px;}
.brand .header-area .cd-secondary-nav.scrolled .menu-toggle.active{padding-top:20px;padding-bottom:16px;}
.room-offer picture img {width:100%;}
.header-area .cd-secondary-nav .property > .left > li.is-active:after {
    border-color: transparent transparent #b67600 transparent;
}
@media (max-width: 960px) {
    .brand .header-area .cd-secondary-nav .title-bar .title-bar-title a {
    margin-top:8px;
}
}*/
/*.brand .booking-console .form-buttons {float:right;}*/
/*.show-for-xxlarge:hover ul.langs{display:block;}*/
.header-area .cd-auto-hide-header .cd-primary-nav li:hover .langs {display:block;}
.dining-hours .time em {margin-right:15px;}
.dining-hours .time a {color:#CB333B!important;}
.dining-hours .time a:hover {text-decoration:underline;}
.left {float:left;}
.intro-box {border:1px solid #c1b8b8; padding:20px;}
.intro-box p {text-align:center; text-transform:uppercase;}
.intro-box .buttons a.info-button {width:100%; margin:0;
                                   font-family: "TradeGothicW01-BoldCn20_675334","ArialNarrow","Arial-Narrow","Arial Narrow",Arial,sans-serif;
text-transform: uppercase;
}
.short-description ul li {width:33.333%; float:left;}
.display-none {display:none;}
.idliketo {border:1px solid #ccc; text-align:center; padding:0.85em 1em; text-transform:uppercase; font-size:15px; font-weight:bold; line-height:1;}
.open-form .button {width:100%;text-transform:uppercase; font-size:15px; font-weight:bold; margin:0;}
#bgDiv {
    background-color: Gray;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}
#Progress {
    background-color: #FFFFFF;
    border: 3px solid #75252a;
    border-radius: 5px 5px 5px 5px;
    left: 50%;
    padding: 10px;
    position: fixed;
    text-align: center;
    top: 50%;
    z-index: 10010;
}
@media (max-width: 1024px) {
    #masthead-short {
        min-height: 61px;
    }

    #masthead {
        min-height: 61px;
    }
}
#input-group .button {color:#fff; border-radius:0; padding:0.85em 1em; text-transform:uppercase;}
#restaurantOption {display:inline-block; font-size:3.125rem;}
.full-content img {width:100%;}
@media (max-width: 480px) {
    .content-area-main > article > .property-overview .prop-info ul li div.mobile-email {width:auto!important;}
    body:not(.brand) .content-area-main > article > .property-overview .prop-info ul li a {line-height:30px;}
    .mobile-email span {display:none!important;}
    .backtolisting {display:block; margin:15px;}
    .email-signup {width:100%; display:inline-block; text-align:center;}
    .content-area-main > article > .rooms-info .rooms-filter select {max-width:100%!important; display:inline-block;
    }
    .content-area-main > article > .landing-rooms-info .buttons.back-button {width:100%}
    .content-area-main > article > .landing-rooms-info .buttons.back-button a{display:block; margin:15px;}
}
@media (max-width: 360px) {
    .content-area-main > article > .property-overview .prop-info ul li div.mobile-email {width:auto!important;}
    body:not(.brand) .content-area-main > article > .property-overview .prop-info ul li a {line-height:30px;}
    .mobile-email span {display:none!important;}
    .backtolisting {display:block; margin:15px;}
    .email-signup {width:100%; display:inline-block; text-align:center;}
    .content-area-main > article > .rooms-info .rooms-filter select {max-width:100%!important; display:inline-block;
    }
    .content-area-main > article > .landing-rooms-info .buttons.back-button {width:100%}
    .content-area-main > article > .landing-rooms-info .buttons.back-button a{display:block; margin:15px;}
}
.inset-rotation picture {position:relative; display:block;}
.large-4 picture {position:relative; display:block;}
.dmoheader_image_overlaytext {
    background-color: #75252a;
    padding: 8px 15px;
    position: absolute;
    top: 20px;
    width: 165px;
    display: inline-block;
    color:#fff;
    left:0;
    text-transform:uppercase;
    font-weight:bold;
}
.dining-list .listing-panel .listing .dmoheader_image_overlaytext1 {
    background-color: #75252a;
    padding: 8px 15px;
    position: absolute;
    top: 20px;
    width: 165px;
    display: inline-block;
    color:#fff;
    right:0;
    text-transform:uppercase;
    font-weight:bold;
    z-index:9999;
}
.deals .fa {color:#ff6a00;}
.room-offer aside.inset {position:relative;}
.room aside.inset .dmoheader_image_overlaytext {left:15px; z-index:999;}
#div_total_book_temp .bws-row .bws-column {margin-top:80px;}
.hbe-bws #hbe-bws-page .body-rooms-list .rate-plan-wrapper .rate-plan-name {font-size:15px!important;}
.hbe-bws #hbe-bws-page .body-rooms-list .room-price .room-price-row span {font-size:22px; font-weight:500;}
.hbe-bws #hbe-bws-page .body-rooms-list .room-price label {font-size:15px!important; line-height:20px!important;}
.hbe-bws #hbe-bws-page small {font-size:90%!important;}
.hbe-bws #hbe-bws-page .body-rooms-list .rate-plan-wrapper .rate-plan .highlights > div {font-size:13px!important; line-height:20px!important;}
.hbe-bws #hbe-bws-page .body-rooms-list .rate-plan-wrapper .rate-plan .highlights .special-offer ul li {font-size:14px!important; font-weight:500;}
.hbe-bws #hbe-bws-page .body-rooms-list .bws-calendar-item div {font-size:13px!important; font-weight:500;}
.qtip.qtip-blue p {font-size:12px;}
#top
{background: url("../images/totop-arrow.png") no-repeat scroll left center #181818;
    border: 1px solid #E2E2E2;
    border-radius: 3px;
    bottom: 100px;
    color: #DDDDDD;
    display: none;
    font-size: 11px;
    line-height: 1;
    padding: 6px 6px 6px 25px;
    position: fixed;
    right: -65px;
    text-decoration: none;
    text-transform: uppercase;
    width: 90px;
    z-index: 998;   
}
#top:hover {
    background-color: #000000;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
	right: -5px;
    cursor:pointer;
}
.menu > li > a .fa-tags {color:#ff6a00;}
.box-deal {border:1px solid #dcdcdc; padding:15px; width:100%; color:#CB333B; margin-bottom:15px; font-size:18px;}
.box-deal .fa-tags {color:#ff6a00;}
@media (max-width: 1010px) {
/*.content-area-main>article>.property-tabbed>header .tab-header {padding-left:40px;}*/
    /*.also-like {margin-top:20px;}*/
.also-like:after {
        content: "";
        display: block;
        width: 80px;
        height: 2px;
        background: #000;
        margin:0 auto;  
    }
.also-like .tab-header h2 {padding-left:0;}
/*.content-area-main>article>.property-tabbed>header:before{display:block; width:40px;}*/
    .content-area-main > article > .landing-rooms-info {margin-top:0;}
    .landing .content-area-main:last-of-type {padding-top:4rem;}
}
.whyus {padding:0 0 30px 0; display:inline-block; padding-bottom:25px; border-bottom:1px solid #dcdcdc; margin-bottom:25px; width:100%;}
.whyus-item { text-align:left; border-left:1px solid #dcdcdc;}
.whyus-cat h3{ margin-top:6px;font-weight:600;}
.whyus-item p{ margin-top:10px; font-weight:600; font-size:16px;}
@media (max-width: 767px) {
    .whyus-item { border-left:none; position:relative;}
    .whyus-item p{ border-left:none; padding-left:20px; position:relative;line-height:20px;}
    .whyus-item:before { position:absolute; content:""; width:32px; height:32px; left:0; top:10px; background:url(../images/whyus-item.png) no-repeat }
}
@media (max-width: 480px) {
.whyus-cat h3{ font-size:18px;}
    .whyus-item { border-left:none; position:relative;}
    .whyus-item p{ border-left:none; padding-left:20px; position:relative;line-height:20px; font-size:17px;}
    .whyus-item:before { position:absolute; content:""; width:32px; height:32px; left:0; top:10px; background:url(../images/whyus-item.png) no-repeat }
    .footer .footer-mid p {padding-right:0;}
        .footer .footer-mid p a.email-signup {width:100%; text-align:center;}
    .footer .footer-mid #footer-icons li:first-child {padding:0px 0.875rem;}
}
@media (max-width: 360px) {
.whyus-cat h3{ font-size:18px;}
    .whyus-item { border-left:none; position:relative;}
    .whyus-item p{ border-left:none; padding-left:20px; font-size:14px; position:relative;}
    .whyus-item:before { position:absolute; content:""; width:32px; height:32px; left:0; top:10px; background:url(../images/whyus-item.png) no-repeat }
    .footer .footer-mid p {padding-right:0;}
        .footer .footer-mid p a.email-signup {width:100%; text-align:center;}
    .footer .footer-mid #footer-icons li:first-child {padding:0px 0.875rem;}
}
@media (max-width: 320px) {
.whyus-cat h3{ font-size:16px;}
    .whyus-item { border-left:none; position:relative;}
    .whyus-item p{ border-left:none; padding-left:20px; font-size:13px; position:relative;}
    .whyus-item:before { position:absolute; content:""; width:32px; height:32px; left:0; top:10px; background:url(../images/whyus-item.png) no-repeat }
    .footer .footer-mid p {padding-right:0;}
        .footer .footer-mid p a.email-signup {width:100%; text-align:center;}
    .footer .footer-mid #footer-icons li:first-child {padding:0px 0.875rem;}
}
/*@media (min-width: 992px){
    .hbe-bws #hbe-bws-page input[type="text"] {
        font-size: 14px!important;
    }

    .hbe-bws #hbe-bws-page .bws-panel.search-filter .day-stay > div label {
        font-size: 14px!important;
    }

    .ui-widget.ui-datepicker table thead tr th {
        font-size: 14px!important;
    }

    .ui-widget.ui-datepicker table tbody tr td {
        font-size: 14px!important;
    }

    .ui-datepicker td span, .ui-datepicker td a {
        padding: 5px 10px!important;
    }

    .ui-datepicker.ui-datepicker-multi {
        width: auto!important;
    }

    .ui-icon {
        height: 20px!important;
    }

    .hbe-bws #hbe-bws-page label {
        font-size: 14px!important;
    }

    .hbe-bws #hbe-bws-page select {
        font-size: 14px!important;
    }
}*/
.hbe-bws #hbe-bws-page .bws-panel.search-filter .day-stay > div label {
        font-size: 14px!important;
    }
    .hbe-bws #hbe-bws-page input[type="text"] {
        font-size: 14px!important;
    }
    .ui-icon {
        height: 20px!important;
    }
.fa-tags {color:#ff6a00;}
.fa-tags-img {background:url(../images/tags-img.png) no-repeat; width:20px; height:12px; margin-right:8px; display:block; float:left; margin-top:8px;}