
.open-table {
  display: inline-block;
  width: 100%;
  background: #f5f5f5;
}

.open-table form {
  text-align: center;
}

.open-table form fieldset {
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.open-table form fieldset,.open-table form .field {
  display: inline-block;
  vertical-align: top;
}

.open-table form .field {
  padding: .5rem;
}

.open-table form .field.dropdowns {
  position: relative;
}

@media screen and (min-width: 64em) {
  .open-table form .field.dropdowns {
    padding-left: 1rem;
  }
}

.open-table form label {
  text-align: left;
}

.open-table form input:not(.submit),.open-table form select {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  color: #242021;
  font-family: "Didot W01 Roman",Didot,"Hoefler Text",Garamond,"Times New Roman",serif;
  cursor: pointer;
  line-height: 1.4;
  padding-bottom: .25rem;
}

.open-table form input {
  box-shadow: none;
}

.open-table form select {
  font-size: 1.125rem;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2213%22%20height%3D%228%22%20viewBox%3D%220%200%2024.338%2013.029%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23242021%22%20d%3D%22M12.61%2012.397L23.79%201.01c.11-.11.014-.293-.104-.41-.117-.117-.39-.123-.5-.013L12.1%2011.702%201%20.578C.893.468.71.474.593.592c-.118.117-.123.3-.014.41l11.36%2011.387s.286.308.672.007z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 12px;
}

@media screen and (max-width: 63.9375em) {
  .open-table form select {
    font-size: 1rem;
  }
}

.open-table form .parsley-errors-list {
  position: absolute;
  bottom: -1rem;
  left: 1.25rem;
  line-height: normal;
  margin: 0;
  list-style-type: none;
}

@media screen and (max-width: 63.9375em) {
  .open-table form .parsley-errors-list {
    left: auto;
    right: 0;
    bottom: -1.25rem;
  }
}

.open-table form .parsley-errors-list li {
  color: #75252a;
  font-size: .75rem;
  font-family: "Open Sans","Arial","Helvetica",sans-serif;
  text-transform: none;
}

.open-table form .datefield,.open-table form .buttonfield {
  margin-left: 0;
}

.open-table form .timefield,.open-table form .partyfield {
  position: relative;
}

.open-table form .timefield select,.open-table form .partyfield select {
  padding-left: 1.75rem;
}

@media screen and (max-width: 63.9375em) {
  .open-table form .timefield select,.open-table form .partyfield select {
    padding-left: 0;
  }
}

.open-table form .timefield .fa,.open-table form .partyfield .fa {
  position: absolute;
  top: 1.125rem;
  font-size: 1.125rem;
}

.open-table form .timefield:before {
  content: '';
  position: absolute;
}

.open-table form .buttonfield {
  font-family: "Didot W01 Roman",Didot,"Hoefler Text",Garamond,"Times New Roman",serif;
  border: none;
}

.open-table form .buttonfield .button {
  font-family: "Didot W01 Roman",Didot,"Hoefler Text",Garamond,"Times New Roman",serif;
  font-size: 1.25rem;
}

.open-table form .buttonfield .button[disabled] {
  opacity: 1;
}

.open-table form .datefield {
  position: relative;
}

.open-table form .datefield input {
  text-indent: 1.5rem;
  color: transparent;
  font-size: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 39.9375em) {
  .open-table form .datefield input {
    font-size: 1rem;
  }
}

.open-table form .datefield>svg {
  position: absolute;
  left: .75rem;
  top: .5625rem;
  width: 16px;
  height: 15px;
  pointer-events: none;
}

.open-table form .datefield>svg path {
  fill: #413838;
}

.open-table form .datefield span.placeholder {
  position: absolute;
  top: .875rem;
  left: 2.875rem;
  font-family: "Didot W01 Roman",Didot,"Hoefler Text",Garamond,"Times New Roman",serif;
  font-size: 1.125rem;
  pointer-events: none;
}

.open-table form .errors-list {
  display: none;
}

.open-table form h3 {
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
  margin: .625rem 0;
  text-align: center;
}

@media screen and (min-width: 64em) {
  .open-table form h3 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 39.9375em) {
  .open-table form form {
    margin: 0 auto;
    float: none;
    padding-left: 0;
    padding-right: 0;
  }

  .open-table form input:not(.submit),.open-table form select {
    border: none;
  }

  .open-table form .field {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: .5rem;
    padding: 0 0 .25rem;
  }

  .open-table form label {
    padding-right: 10px;
  }

  .open-table form fieldset,.open-table form .field,.open-table form input,.open-table form select {
    width: 100%;
  }

  .open-table form input,.open-table form select {
    margin-bottom: 0;
  }

  .open-table form fieldset {
    padding: 0;
  }

  .open-table form fieldset .field {
    border-bottom: 1px solid #D8D8D8;
  }

  .open-table form .dropdowns select {
    padding: 0;
  }

  .open-table form .datefield input {
    padding: 0;
  }

  .open-table form .datefield svg {
    left: 0;
  }

  .open-table form .datefield span.placeholder {
    top: .375rem;
    left: 3.25rem;
    font-size: 1rem;
  }

  .open-table form .timefield select,.open-table form .partyfield select {
    text-indent: 3.25rem;
  }

  .open-table form .timefield .fa,.open-table form .partyfield .fa {
    top: .5625rem;
  }

  .open-table form .buttonfield {
    float: none;
    padding: 0;
    margin-top: 1rem;
    width: 100%;
  }

  .open-table form .buttonfield input {
    padding: 1rem;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .open-table form input,.open-table form select {
    margin: 0;
  }

  .open-table form input:not(.submit),.open-table form select {
    border: none;
  }

  .open-table form .field {
    margin: 0 0 .5rem;
    padding: 0 0 .25rem;
  }

  .open-table form fieldset .field {
    border-bottom: 1px solid #D8D8D8;
  }

  .open-table form .timefield,.open-table form .partyfield {
    width: 49%;
  }

  .open-table form .timefield select,.open-table form .partyfield select {
    text-indent: 2.875rem;
  }

  .open-table form .timefield .fa,.open-table form .partyfield .fa {
    top: .5625rem;
  }

  .open-table form .partyfield {
    margin-right: 0 !important;
  }

  .open-table form .datefield {
    width: 100%;
  }

  .open-table form .datefield svg {
    top: 1.0625rem;
    left: 0;
  }

  .open-table form .buttonfield {
    padding-top: .5rem;
  }

  .open-table form .buttonfield .button {
    width: 399px;
    font-weight: 600;
    letter-spacing: .05rem;
  }
}

@media screen and (min-width: 40em) {
  .open-table form .button {
    padding-left: 1.0625rem;
    padding-right: 1.0625rem;
  }

  .open-table form fieldset {
    padding: 0;
  }

  .open-table form .field .startDate {
    width: 100%;
    display: inline-block;
  }
}

@media screen and (min-width: 64em) {
  .open-table form {
    width: 100%;
    padding: .75rem 0;
  }

  .open-table form input,.open-table form select {
    margin-bottom: 0 !important;
  }

  .open-table form fieldset .field label {
    float: left;
    margin: .625rem .375rem 0 0;
  }

  .open-table form fieldset .dropdowns {
    width: 35%;
    max-width: 35%;
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
  }

  .open-table form .datefield svg {
    top: 1.125rem;
  }

  .open-table form .buttonfield {
    margin-bottom: 0;
  }

  .open-table form .buttonfield .button {
    width: 100%;
    float: left;
  }
}

@media only screen and (min-width: 75em) {
  .open-table form {
    float: right;
    text-align: left;
    padding: 0;
  }

  .open-table form .button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 64em) {
  .open-table form h3.columns {
    padding-left: 0;
    padding-right: 0;
  }

  .open-table form .open-table form {
    margin: 0;
    padding: 0;
  }
}

.open-table form .restaurant-error {
  display: none;
}


.component-wrapper .component .open-table table,.component-wrapper .component .open-table-console table {
  margin-bottom: 0;
}

.component-wrapper .component .open-table .datepick-popup .datepick {
  width: 300px !important;
}

.component-wrapper .component .open-table .datepick-popup .datepick .datepick-nav {
  width: 300px;
}



.open-table.interior {
  padding: .5rem 1rem 0;
  margin-bottom: 1rem;
  width: 100%;
}

.open-table.interior form {
  display: inline-block !important;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 63.9375em) {
  .open-table.interior form {
    width: 100%;
  }
}

.open-table.interior form .timefield {
  margin: 0 .625rem .75rem 0;
}

@media screen and (min-width: 64em) {
  .open-table.interior form .timefield {
    margin: 0;
  }
}

.open-table.interior form .buttonfield .button {
  margin: 1rem 0 !important;
}

@media screen and (min-width: 40em) {
  .open-table.interior form .buttonfield .button {
    margin: 0 !important;
  }
}

.open-table.interior.request {
  padding: 0;
  margin-bottom: 0;
  width: auto;
}

@media screen and (min-width: 64em) {
  .open-table.interior.request {
    float: right;
  }
}

.open-table.interior.request .open-table {
  float: right;
}

.open-table.interior.request .button {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Didot W01 Roman",Didot,"Hoefler Text",Garamond,"Times New Roman",serif;
  border-radius: inherit;
  padding: 0.85em 1em;
}


.open-table.ot-filter .datefield>svg {
  position: absolute;
}

@media only screen and (min-width: 40em) and (max-width: 74.938em) {
  .open-table:not(.interior):not(.ot-filter) form#open-table .field:not(.buttonfield) {
    margin-right: .5rem;
  }
}

@media screen and (min-width: 64em) {
  .open-table:not(.interior):not(.ot-filter) form#open-table {
    width: 100%;
    padding: .75rem 0;
  }

  .open-table:not(.interior):not(.ot-filter) form#open-table input,.open-table:not(.interior):not(.ot-filter) form#open-table select {
    margin-bottom: 0 !important;
  }

  .open-table:not(.interior):not(.ot-filter) form#open-table fieldset .field {
    width: 20%;
    max-width: 20%;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    margin: 0;
  }
}

@media screen and (min-width: 64em) and (min-width: 75em) {
  .open-table:not(.interior):not(.ot-filter) form#open-table fieldset .field {
    width: 21.5%;
    max-width: 21.5%;
    -webkit-flex: 0 0 21.5%;
    -ms-flex: 0 0 21.5%;
    flex: 0 0 21.5%;
  }
}

@media screen and (min-width: 64em) {
  .open-table:not(.interior):not(.ot-filter) form#open-table fieldset .dropdowns {
    width: 35%;
    max-width: 35%;
    -webkit-flex: 0 0 35%;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
  }

  .open-table:not(.interior):not(.ot-filter) form#open-table .datefield span.placeholder {
    left: 2.375rem;
  }
}

@media screen and (max-width: 63.9375em) {
  .open-table:not(.interior):not(.ot-filter) form#open-table {
    padding: 1.25rem;
  }
}

@media screen and (min-width: 64em) {
  .open-table:not(.interior):not(.ot-filter) form#open-table .buttonfield {
    padding-right: 1rem;
  }
}

@media screen and (min-width: 64em) {
  .open-table.fullwidth:not(.interior):not(.ot-filter) form#open-table fieldset .field {
    width: 20%;
    max-width: 20%;
    -webkit-flex: 0 0 20%;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    margin: 0;
  }

  .open-table.fullwidth:not(.interior):not(.ot-filter) form#open-table fieldset .field.dropdowns {
    width: 37%;
    max-width: 37%;
    -webkit-flex: 0 0 37%;
    -ms-flex: 0 0 37%;
    flex: 0 0 37%;
  }
}