@media screen and (min-width: 60em) {
  .component-wrapper .component.video-component {
    margin-top: 4.375rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media screen and (min-width: 75em) {
  .component-wrapper .component.video-component {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

.video-wrapper,.video-playlist {
  -webkit-flex: 1 1 100%;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  position: relative;
}

.video-wrapper {
  z-index: 10;
}

@media screen and (min-width: 60em) {
  .video-wrapper {
    -webkit-flex: 0 0 68%;
    -ms-flex: 0 0 68%;
    flex: 0 0 68%;
    max-width: 68%;
  }
}

@media screen and (min-width: 60em) {
  .video-playlist {
    padding-left: 32px !important;
    -webkit-flex: 0 0 32%;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
    max-width: 32%;
  }
}

.video-playlist h2,.interior .video-playlist h2 {
  font-family: "TradeGothicW01-BoldCn20_675334","ArialNarrow","Arial-Narrow","Arial Narrow",Arial,sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  font-size: 1.125rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  letter-spacing: .02rem;
}

@media screen and (max-width: 39.9375em) {
  .video-playlist h2,.interior .video-playlist h2 {
    padding-left: .625rem;
    padding-right: .625rem;
  }
}

@media screen and (min-width: 64em) {
  .video-playlist h2,.interior .video-playlist h2 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 2.25rem;
    letter-spacing: .03rem;
  }
}

.video-playlist .tertiary-nav {
  position: relative;
}

.video-playlist .tertiary-nav ul {
  position: relative;
  border-left-width: 4px;
}

.video-playlist .tertiary-nav ul li {
  padding: 1rem 0;
}

.video-playlist .tertiary-nav ul li .active:not(.button):not(.info-button) {
  color: #8e6919;
}

@media screen and (min-width: 64em) {
  .video-playlist .tertiary-nav ul li:hover:not(.button):not(.info-button),.video-playlist .tertiary-nav ul li:focus:not(.button):not(.info-button) {
    color: #8e6919;
  }

  .video-playlist .tertiary-nav ul li:hover:before,.video-playlist .tertiary-nav ul li:focus:before {
    display: none;
  }
}

.video-playlist .tertiary-nav ul li .active:before {
  top: 10px;
}

.video-playlist .flying-arrow {
  position: absolute;
  left: 0;
  top: 3px;
  width: 2.25rem;
  font-size: 1.75rem;
  color: #8e6919;
  transition: 250ms ease top;
  line-height: 66px;
}

@media screen and (min-width: 60em) {
  .video-playlist .flying-arrow {
    left: .0625rem;
  }
}

.video-playlist .flying-arrow:before {
  content: "\f0da";
  font-family: FontAwesome;
}

.video-pullquote {
  position: relative;
}

@media screen and (min-width: 60em) {
  .video-pullquote {
    margin: 32px 0;
    display: block !important;
  }

  .video-pullquote:before {
    content: '';
    position: absolute;
    border: 1px solid #ded5d5;
    width: 165%;
    height: 100%;
    top: 0;
    right: 0;
  }

  .video-pullquote.hide-for-large {
    display: none !important;
  }
}

.video-pullquote blockquote {
  padding: 0 1.75rem;
}

@media screen and (min-width: 75em) {
  .video-pullquote blockquote {
    padding-right: 2rem;
    margin-bottom: 0;
  }
}